.dxWeb_rpHeaderTopLeftCorner_Glass,
.dxWeb_rpHeaderTopRightCorner_Glass,
.dxWeb_rpBottomLeftCorner_Glass,
.dxWeb_rpBottomRightCorner_Glass,
.dxWeb_rpTopLeftCorner_Glass,
.dxWeb_rpTopRightCorner_Glass,
.dxWeb_rpGroupBoxBottomLeftCorner_Glass,
.dxWeb_rpGroupBoxBottomRightCorner_Glass,
.dxWeb_rpGroupBoxTopLeftCorner_Glass,
.dxWeb_rpGroupBoxTopRightCorner_Glass,
.dxWeb_mHorizontalPopOut_Glass,
.dxWeb_mVerticalPopOut_Glass,
.dxWeb_mVerticalPopOutRtl_Glass,
.dxWeb_mSubMenuItem_Glass,
.dxWeb_mSubMenuItemChecked_Glass,
.dxWeb_mScrollUp_Glass,
.dxWeb_mScrollDown_Glass,
.dxWeb_tcScrollLeft_Glass,
.dxWeb_tcScrollRight_Glass,
.dxWeb_tcScrollLeftHover_Glass,
.dxWeb_tcScrollRightHover_Glass,
.dxWeb_tcScrollLeftPressed_Glass,
.dxWeb_tcScrollRightPressed_Glass,
.dxWeb_tcScrollLeftDisabled_Glass,
.dxWeb_tcScrollRightDisabled_Glass,
.dxWeb_nbCollapse_Glass,
.dxWeb_nbExpand_Glass,
.dxWeb_splVSeparator_Glass,
.dxWeb_splVSeparatorHover_Glass,
.dxWeb_splHSeparator_Glass,
.dxWeb_splHSeparatorHover_Glass,
.dxWeb_splVCollapseBackwardButton_Glass,
.dxWeb_splVCollapseBackwardButtonHover_Glass,
.dxWeb_splHCollapseBackwardButton_Glass,
.dxWeb_splHCollapseBackwardButtonHover_Glass,
.dxWeb_splVCollapseForwardButton_Glass,
.dxWeb_splVCollapseForwardButtonHover_Glass,
.dxWeb_splHCollapseForwardButton_Glass,
.dxWeb_splHCollapseForwardButtonHover_Glass,
.dxWeb_pcCloseButton_Glass,
.dxWeb_pcSizeGrip_Glass,
.dxWeb_pcSizeGripRtl_Glass,
.dxWeb_pAll_Glass,
.dxWeb_pAllDisabled_Glass,
.dxWeb_pPrev_Glass,
.dxWeb_pPrevDisabled_Glass,
.dxWeb_pNext_Glass,
.dxWeb_pNextDisabled_Glass,
.dxWeb_pLast_Glass,
.dxWeb_pLastDisabled_Glass,
.dxWeb_pFirst_Glass,
.dxWeb_pFirstDisabled_Glass,
.dxWeb_tiBackToTop_Glass,
.dxWeb_ncTail_Glass,
.dxWeb_hlTail_Glass,
.dxWeb_ncBackToTop_Glass,
.dxWeb_tvColBtn_Glass,
.dxWeb_tvColBtnRtl_Glass,
.dxWeb_tvExpBtn_Glass,
.dxWeb_tvExpBtnRtl_Glass,
.dxWeb_fmFolder_Glass,
.dxWeb_fmFolderLocked_Glass,
.dxWeb_fmCreateButton_Glass,
.dxWeb_fmMoveButton_Glass,
.dxWeb_fmRenameButton_Glass,
.dxWeb_fmDeleteButton_Glass,
.dxWeb_fmRefreshButton_Glass,
.dxWeb_fmDwnlButton_Glass,
.dxWeb_fmCreateButtonDisabled_Glass,
.dxWeb_fmMoveButtonDisabled_Glass,
.dxWeb_fmRenameButtonDisabled_Glass,
.dxWeb_fmDeleteButtonDisabled_Glass,
.dxWeb_fmRefreshButtonDisabled_Glass,
.dxWeb_fmDwnlButtonDisabled_Glass {
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
    display:block;
}
.dxWeb_mScrollUp_Glass, .dxWeb_mScrollDown_Glass
{
	margin: auto;
}
.dxWeb_smBullet_Glass
{
	display:inline;
}

.dxWeb_edtCheckBoxChecked_Glass,
.dxWeb_edtCheckBoxUnchecked_Glass,
.dxWeb_edtCheckBoxGrayed_Glass,
.dxWeb_edtCheckBoxCheckedDisabled_Glass,
.dxWeb_edtCheckBoxUncheckedDisabled_Glass,
.dxWeb_edtCheckBoxGrayedDisabled_Glass {
	background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
	width: 15px;
    height: 15px;
}

.dxWeb_edtCheckBoxUnchecked_Glass {
	background-position: -54px -105px;
}
.dxWeb_edtCheckBoxChecked_Glass {
	background-position: -69px -105px; 
}
.dxWeb_edtCheckBoxGrayed_Glass {
	background-position: -84px -105px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Glass {
	background-position: -99px -105px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Glass {
	background-position: -114px -105px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Glass {
	background-position: -129px -105px;
}

.dxWeb_rpHeaderTopLeftCorner_Glass {
    background-position: -104px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpHeaderTopRightCorner_Glass {
    background-position: -117px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomLeftCorner_Glass {
    background-position: -78px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomRightCorner_Glass {
    background-position: -91px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopLeftCorner_Glass {
    background-position: -52px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopRightCorner_Glass {
    background-position: -65px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomLeftCorner_Glass {
    background-position: -26px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomRightCorner_Glass {
    background-position: -39px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopLeftCorner_Glass {
    background-position: 0px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopRightCorner_Glass {
    background-position: -13px -88px;
    width: 5px;
    height: 5px;
}

.dxWeb_mHorizontalPopOut_Glass {
    background-position: -92px -50px;
    width: 7px;
    height: 7px;
}

.dxWeb_mVerticalPopOut_Glass {
    background-position: -105px -50px;
    width: 4px;
    height: 8px;
}

.dxWeb_mVerticalPopOutRtl_Glass {
    background-position: -107px -62px;
    width: 4px;
    height: 8px;
}

.dxWeb_mSubMenuItem_Glass {
    background-position: -48px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_mSubMenuItemChecked_Glass {
    background-position: -70px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_mScrollUp_Glass {
    background-position: -115px -50px;
    width: 7px;
    height: 4px;
}

.dxWeb_mScrollDown_Glass {
    background-position: -115px -57px;
    width: 7px;
    height: 4px;
}

.dxWeb_tcScrollLeft_Glass 
{
	background-position: -146px 0;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollRight_Glass
{
	background-position: -152px 0;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollLeftHover_Glass
{
	background-position: -146px -8px;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollRightHover_Glass
{
	background-position: -152px -8px;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollLeftPressed_Glass
{
	background-position: -146px -16px;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollRightPressed_Glass
{
	background-position: -152px -16px;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollLeftDisabled_Glass
{
	background-position: -146px -24px;
	width: 5px;
	height: 7px;
}

.dxWeb_tcScrollRightDisabled_Glass
{
	background-position: -152px -24px;
	width: 5px;
	height: 7px;
}

.dxWeb_nbCollapse_Glass {
    background-position: -129px 0px;
    width: 16px;
    height: 16px;
}

.dxWeb_nbExpand_Glass {
    background-position: -129px -23px;
    width: 16px;
    height: 16px;
}

.dxWeb_splVSeparator_Glass {
    background-position: -92px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splVSeparatorHover_Glass {
    background-position: -99px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splHSeparator_Glass {
    background-position: -58px -74px;
    width: 18px;
    height: 6px;
}

.dxWeb_splHSeparatorHover_Glass {
    background-position: -58px -81px;
    width: 18px;
    height: 6px;
}

.dxWeb_splVCollapseBackwardButton_Glass {
    background-position: -30px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_Glass {
    background-position: -37px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseBackwardButton_Glass {
    background-position: 0px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_Glass {
    background-position: 0px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_splVCollapseForwardButton_Glass {
    background-position: -44px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_Glass {
    background-position: -51px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseForwardButton_Glass {
    background-position: -15px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_Glass {
    background-position: -15px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_pcCloseButton_Glass {
    background-position: 0px -50px;
    width: 17px;
    height: 17px;
}

.dxWeb_pcSizeGrip_Glass {
    background-position: -24px -50px;
    width: 12px;
    height: 12px;
}

.dxWeb_pcSizeGripRtl_Glass {
    background-position: -40px -96px;
    width: 12px;
    height: 12px;
}

.dxWeb_pAll_Glass {
    background-position: 0px 0px;
    width: 24px;
    height: 18px;
}

.dxWeb_pAllDisabled_Glass {
    background-position: 0px -25px;
    width: 24px;
    height: 18px;
}

.dxWeb_pPrev_Glass {
    background-position: -105px 0px;
    width: 20px;
    height: 18px;
}

.dxWeb_pPrevDisabled_Glass {
    background-position: -105px -25px;
    width: 20px;
    height: 18px;
}

.dxWeb_pNext_Glass {
    background-position: -81px 0px;
    width: 20px;
    height: 18px;
}

.dxWeb_pNextDisabled_Glass {
    background-position: -81px -25px;
    width: 20px;
    height: 18px;
}

.dxWeb_pLast_Glass {
    background-position: -55px 0px;
    width: 22px;
    height: 18px;
}

.dxWeb_pLastDisabled_Glass {
    background-position: -55px -25px;
    width: 22px;
    height: 18px;
}

.dxWeb_pFirst_Glass {
    background-position: -29px 0px;
    width: 22px;
    height: 18px;
}

.dxWeb_pFirstDisabled_Glass {
    background-position: -29px -25px;
    width: 22px;
    height: 18px;
}

.dxWeb_tiBackToTop_Glass {
    background-position: -129px -50px;
    width: 14px;
    height: 14px;
}

.dxWeb_ncTail_Glass {
    background-position: -129px -66px;
    width: 12px;
    height: 7px;
}

.dxWeb_hlTail_Glass {
    background-position: -129px -75px;
    width: 12px;
    height: 7px;
}

.dxWeb_ncBackToTop_Glass {
    background-position: -129px -84px;
    width: 16px;
    height: 16px;
}

.dxWeb_tvColBtn_Glass,
.dxWeb_tvColBtnRtl_Glass {
	background-position: -20px -96px;
    width: 17px;
    height: 17px;
}

.dxWeb_tvExpBtn_Glass,
.dxWeb_tvExpBtnRtl_Glass {
	background-position: 0px -96px;
    width: 17px;
    height: 17px;
}

.dxWeb_fmFolder_Glass {
	background-position: 0px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmFolderLocked_Glass {
	background-position: -20px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButton_Glass {
	background-position: -40px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButton_Glass {
	background-position: -60px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButton_Glass {
	background-position: -80px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButton_Glass {
	background-position: -100px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButton_Glass {
	background-position: -120px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDwnlButton_Glass {
	background-position: 0px -147px;
    width: 16px;
    height: 16px;
}.dxWeb_fmDwnlButtonDisabled_Glass {
	background-position: -20px -147px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Glass {
	background-position: -40px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButtonDisabled_Glass {
	background-position: -60px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButtonDisabled_Glass {
	background-position: -80px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButtonDisabled_Glass {
	background-position: -100px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButtonDisabled_Glass {
	background-position: -120px -147px;
    width: 16px;
    height: 16px;
}
