

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/robotobold.eot');
    src: url('../fonts/robotobold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotobold.woff2') format('woff2'),
         url('../fonts/robotobold.woff') format('woff'),
         url('../fonts/robotobold.ttf') format('truetype'),
         url('../fonts/robotobold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/robotoregular.eot');
    src: url('../fonts/robotoregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoregular.woff2') format('woff2'),
         url('../fonts/robotoregular.woff') format('woff'),
         url('../fonts/robotoregular.ttf') format('truetype'),
         url('../fonts/robotoregular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**************************************************** RESET ****************************************************/

div, figure, figcaption,main,header, img, h1,h2,h3,h4,h5,h6, ul, li,p,article,body,a{
	margin: 0px;
	padding: 0px;
	border:0px;
}

img{
	max-width: 100%;
}

ul img{
	width: 100%;
	max-width: 250px;
}

/**************************************************** Titulo e paragrafo ****************************************************/

h1{
	color: #ffffff;
	padding: 0 10px;
	font-size: 70px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	font-family: 'Georgia';
}

h1 a { 
	color: #ffffff;
	text-decoration: none;
}

/**************************************************** ALL ****************************************************/

.container{
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

/**************************************************** Btn Defualt ****************************************************/

a.btn {
	width: 100%;
	float: left;
	color: #ffffff;
	font-size: 32px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: 'robotobold';
	text-transform: uppercase;
	background-color: #D43D5E;
}

/**************************************************** LEFT ****************************************************/

.left, .left-bottom {
	width: 42%;
	float: left;
}

.left header {
	float: left;
	width: 100%;
	background: #B28500;
	padding: 100px 0 70px 0;
}

.left header .title {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 23px;
	margin-top: 120px;
	padding-left: 25px;
	box-sizing: border-box;
	font-family: 'robotoregular';
}

.left header .list {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.left header .list li {
	float: left;
	width: 33.33%;
	padding: 0 4px;
	list-style: none;
	box-sizing: border-box;
}

.left header .list li img {
	cursor: pointer;
}

.left header .list li a {
	float: left;
	width: 100%;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 5px;
	padding-left: 25px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'robotoregular';
}

.left header .list li:first-child {
	padding-left: 0;
	padding-right: 8px;
}

.left header .list li:last-child {
	padding-right: 0;
	padding-left: 8px;
}

.left main {
	float: left;
	width: 100%;
}

/**************************************************** VEJA OUTROS ****************************************************/

.vejaOutros {
	float: left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #B28500;
}

.vejaOutros h3{
	float: left;
	width: 100%;
	color: #B38600;
	font-size: 16px;
	min-height: 50px;
	line-height: 120%;
	text-align: center;
	font-weight: normal;
	padding-bottom: 5px;
	font-family: 'robotobold';
}

.vejaOutros h3 a {
	color: #B38600;
	text-decoration: none;
}

.vejaOutros p.title {
	color: #B28500;
	font-size: 32px;
	text-align: center;
	font-weight: normal;
	margin: 25px 0 50px 0;
	font-family: 'robotobold';
}

.vejaOutros ul{
	float: left;
	width: 100%;
}

.vejaOutros  ul li{
	width: 33.33%;
	float: left;
	padding: 0 1%;
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.vejaOutros ul li > a {
	float: left;
	width: 100%;
	color: #777777;
	font-size: 15px;
	margin-top: 2px;
	text-align: center;
	font-weight: normal;
	font-family: 'robotobold';
	text-decoration: none;
}

.vejaOutros  ul li img {
	float: left;
	margin-bottom: 5px;
}

.vejaOutros ul li:first-child, .vejaOutros ul li:nth-child(3n+1) {
	padding-right: 2%;
	padding-left: 0;
}

.vejaOutros ul li:nth-child(3n) {
	padding-right: 0;
	padding-left: 2%;
}

.vejaOutros ul li:nth-child(3n+1) {
	clear: both;
}

/**************************************************** RIGHT ****************************************************/

.right {
	width: 52%;
	float: right;
	padding-right: 75px;
	box-sizing: border-box;
}

.right h2 + article {
	margin: 0 0 20px 0;
}

.right article {
	float: left;
	width: 100%;
	margin-top: 25px;
}

.right article p {
	float: left;
	width: 100%;
	color: #666666;
	font-size: 14px;
	font-family: 'robotoregular';
}

.right > h2 {
	margin: 45px 0;
}

.right h2 {
	color: #B28500;
	font-size: 32px;
	font-weight: normal;
	font-family: 'robotobold';
}

.right .contentPicture figure {
	float: left;
	max-width: 100%;
	position: relative;
	box-sizing: border-box;
}

.right .contentPicture figure figcaption {
	position: absolute;
	visibility: hidden;
}

.right .contentPicture {
	width: 100%;
}

/**************************************************** DEPOIMENTOS ****************************************************/

.vejaOutrosFacebook {
	float: left;
	width: 100%;
	margin: 30px 0;
}

.vejaOutrosFacebook p.title {
	color: #B28500;
	margin: 25px 0;
	font-size: 32px;
	padding-left: 20px;
	font-weight: normal;
	font-family: 'robotobold';
	text-transform: uppercase;
}

.vejaOutrosFacebook ul{
	float: left;
	width: 100%;
	background: #F0F0F0;
	padding: 20px;
	box-sizing: border-box;
}

.vejaOutrosFacebook  ul li{
	width: 100%;
	float: left;
	display: block;
	position: relative;
	margin-top: 40px;
	box-sizing: border-box;
}

.vejaOutrosFacebook  ul li:first-child{
	margin-top: 0;
}

.vejaOutrosFacebook  ul li .imgFacebook {
	top: 0;
	left: 0;
	float: left;
	width: 50px;
	position: absolute;
}

.vejaOutrosFacebook  ul li .profileInfo {
	float: left;
	width: 30%;
	min-height: 50px;
	padding: 0 30px 0 80px;
	box-sizing: border-box;
}

.vejaOutrosFacebook  ul li .conteudo {
	float: left;
	font-size: 14px;
	color: #666666;
	font-family: "robotoregular";
	width: 70%;
}

.vejaOutrosFacebook  ul li .profileInfo .name {
	float: left;
	width: 100%;
	color: #385198;
	font-size: 16px;
	font-weight: normal;
	font-family: 'robotobold';
}

.vejaOutrosFacebook  ul li .profileInfo .name a {
	color: #385198;
	text-decoration: none;
}

.vejaOutrosFacebook  ul li .profileInfo .data {
	float: left;
	width: 100%;
	font-family: "robotoregular";
	font-size: 12px;
	color: #666666;
}

.vejaOutrosFacebook  ul li .profileInfo .data a {
	color: #666666;
	text-decoration: none;
}


/**************************************************** RESPONSIVO ****************************************************/

@media screen and (max-width: 850px) {

	h1 {
		font-size: 60px;
	}
	
	.left header {
		padding: 60px 0;
	}
	
	.left header .title {
		margin-top: 80px;
	}
	
	.vejaOutrosFacebook ul li .profileInfo {
		width: 40%;
	}
	
	.vejaOutrosFacebook ul li .conteudo {
		width: 60%;
	}

}

@media screen and (max-width: 760px) {
	
	.left, .left-bottom, .right {
		float: left;
		width: 100%;
		padding: 0;
	}
	
	.left header {
		padding: 60px 15px;
		box-sizing: border-box;
	}
	
	.right article, .left-bottom {
		padding: 0 15px;
		box-sizing: border-box;
	}
	
	.right .contentPicture {
		max-width: 70%;
	}

	.vejaOutrosFacebook ul li .profileInfo, .vejaOutrosFacebook ul li .conteudo {
		width: 100%;
	}
	
	.vejaOutrosFacebook ul li .profileInfo {
		margin-bottom: 20px;
	}
	
}

@media screen and (max-width: 520px) {

	.right .contentPicture {
		padding: 0 15px;
		max-width: 100%;
		box-sizing: border-box;
	}
	
	.vejaOutros ul li {
		width: 50%;
	}
	
	.vejaOutros ul li:first-child, .vejaOutros ul li:nth-child(2n+1) {
		padding-right: 2%;
		padding-left: 0;
	}

	.vejaOutros ul li:nth-child(2n) {
		padding-right: 0;
		padding-left: 2%;
	}

	.vejaOutros ul li:nth-child(2n+1) {
		clear: both;
	}
	
	.vejaOutros ul li:nth-child(3n+1) {
		clear: none;
	}

}