﻿body 
{
	margin: 0;
	padding: 0;
}
img 
{
	border: 0;
	margin: 0;
	padding: 0;
}
* 
{
	margin: 0;
	padding: 0;
}

.clear
{
	clear: both;
}



/* Categorias */

    
.lateralMenu
{
    width: 180px;
    float: left;
    top: 10px;
    display: table;
}

.lateralMenu .imgLogo
{
    text-align: center;
}

.lateralMenu .menuVertical
{
    margin-top: 10px;
    display: table;
}

.lateralMenu .menuVertical .titulo
{
    width: 165px;
    height: 38px;
    padding-left: 15px;
    background: url(../images/bkNomeMenuLateral.jpg) no-repeat left top;
    font: bold 13px Arial;
    color: #CC0000;
    text-decoration: none;
}

.lateralMenu .menuVertical .titulo .alinhaTitulo
{
    height: 38px;
    font: bold 13px Arial;
    color: #CC0000;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.lateralMenu .menuVertical .itensMenu
{
    width: 165px;
    background: url(../images/bkMenuLateral.jpg) repeat-y left top;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 10px;
    display: table;
}

.lateralMenu .menuVertical .itensMenu a
{
    font: 11px Arial;
    color: #000;
    text-decoration: none;
}

.lateralMenu .menuVertical .itensMenu a:hover
{
    font: 11px Arial;
    color: #CC0000;
    text-decoration: none;
}

.bannerLaterais
{
    width: 180px;
    margin: 0 auto;
}

.bannerLaterais img
{
    margin-bottom: 10px;
}

.alinhaProdutos
{
    width: 100%;
    display: table;
}

.blocoProduto
{
    width: 250px;
	text-align:center;
	float: left;
	height: 380px;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

.blocoProduto img
{
    width: 120px;
    height: 120px;
}

.blocoProduto .descricaoDestaque
{
    margin-top: 10px;
    font: bold 12px Arial;
    color: #000;
    text-decoration: none;
}

.blocoProduto .descricaoDestaque a
{
    margin-top: 10px;
    font: bold 12px Arial;
    color: #000;
    text-decoration: none;
}

.btMaisDetalhesDestaque
{
    width: 110px !important;
    height: 18px !important;
    margin-top: 5px;
}

.tarjasGrande
{
    font: bold 22px Arial;
    color: #CC0000;
    text-align: left;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #CC0000;
}

.blocoTemasPersonalizados
{
    width: 100%;
    position: relative;
    background: url(../images/bkTemas.jpg) repeat-x center bottom;
    min-height: 90px;
}

.lateralEsquerdaTemas
{
    position: absolute;
    left: 0;
    bottom: 0;
}

.lateralDireitaTemas
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.tema
{
    width: 140px;
    float: left;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}

.tema .texto
{
    margin-top: 5px;
    font: 9px Arial;
    color: #666;
    text-decoration: none;
    text-align: center;
}

