﻿body
{
    margin: 0px;
    background-color: #001121;
    overflow: auto !important;
 }
.tablePrincipal
{
    background-image: url('../images/bk.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}
.textoCabecalho
{
    font-family: Tahoma;
    font-size: 11px;
    color: #FFFFFF;
}
.tituloPaginas
{
    height: 72px; 
    background-image: url('../images/bkTarjaTitulo.jpg'); 
    font-family: Tahoma; 
    font-size: 27px; 
    color: #41697E; 
    padding-left: 35px; 
    padding-top: 10;
}
.rotulos
{
    font-family: Tahoma;
    font-size: 12px;
    color: #000000;
}
.campos
{
    border: 1px solid #7EACB1;
    font-family: Tahoma;
    font-size: 12px;
    color: #000000;
    height: 21px;
    padding-top: 2px;
    padding-left: 2;
}
.textoPreto
{
    font-family: Tahoma;
    font-size: 11px;
    color: #000000;
}
.botao
{
    border: none;
    background-image: url('../images/bkBotao.jpg');
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    height: 25px;
}
.botaoExcluir {
    border: none;
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 12px;
    background: red;
    color: #000000;
    font-weight: bold;
    height: 30px;
    font-size: 12px;
}
.botaoGravar {
    border: none;
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 12px;
    background: green;
    color: #000000;
    font-weight: bold;
    height: 45px;
    font-size: 20px;
}

.btn-default {
    float: right;
    background-color: #316674;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
}

.btnHome {
    background-image: url(../images/btHome.gif);
    width: 31px;
    height: 25px;
    border: 0px;
}