﻿.templateDetalheTituloBloco {
            border-bottom: 1px dotted #bec165;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 3px;
            padding-left: 7px;
        }
        .templateDetalheTabela {
            color: #333333;
            font-family: Arial;
            font-size: 13px;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: bold;
        }
        .templateDetalheTituloBlocoDivisor {
            height: 17px;
        }
        .templateDetalheTexto {
            height: 24px;
        }
        .templateDetalheNome {
            padding-bottom: 10px;
            padding-left: 7px;
            padding-top: 10px;
            width: 156px;
        }
        .templateDetalheQuantidade {
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            text-align: center;
            width: 40px;
        }
        .templateDetalheDescricao {
            padding-left: 7px;
        }
        .templateDetalheTitulo {
            background: none repeat scroll 0 0 #e6e7c4;
            font-weight: bold;
            height: 24px;
            width: 817px;
        }
        .templateDetalheNomeDetalhe {
            padding-bottom: 10px;
            padding-left: 7px;
            padding-top: 10px;
            width: 156px;
        }
        .templateDetalheQuantidadeDetalhe {
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: center;
            width: 40px;
        }
        .templateDetalheDescricaoDetalhe {
            padding-bottom: 10px;
            padding-left: 30px;
            padding-top: 10px;
        }