@font-face {
    font-family: "Museo300";
    src: url("Museo300-Regular.otf");
}

@font-face {
    font-family: "Museo500";
    src: url("Museo500-Regular.otf");
}

@font-face {
    font-family: "Museo900";
    src: url("Museo900-Regular.otf");
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto-bold-Italic";
    src: url("Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "proxima-nova";
    src: url("ProximaNova-Regular.otf");
}

@font-face {
    font-family: "proxima-nova-extrabold";
    src: url("ProximaNova-Extrabold.otf");
}