
//////////////////////////////////////////////////////////////////////////////
// Reset Margin and Padding of all elements
//////////////////////////////////////////////////////////////////////////////

* {
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

//////////////////////////////////////////////////////////////////////////////
// Set full width on elements
//////////////////////////////////////////////////////////////////////////////

img {
	border:none;
	max-width: 100%;
}

embed, object, video {
	max-width: 100%;
}

//////////////////////////////////////////////////////////////////////////////
// Formatar - Margin / Padding / Border
//////////////////////////////////////////////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

//////////////////////////////////////////////////////////////////////////////
// Formatar - Font
//////////////////////////////////////////////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font: inherit;
}

//////////////////////////////////////////////////////////////////////////////
// Reset Tabela
//////////////////////////////////////////////////////////////////////////////

tbody, tfoot, thead, tr, th, td, table {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

//////////////////////////////////////////////////////////////////////////////
// Reset HTML5 & Elements
//////////////////////////////////////////////////////////////////////////////

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

 [hidden] {
 display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a:focus {
	outline: 0 none;
}

a:active, a:hover {
	outline: 0 none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

p, pre {
	margin: 1em 0;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

small {
	font-size: 75%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

//////////////////////////////////////////////////////////////////////////////
// Reset Form
//////////////////////////////////////////////////////////////////////////////

form {
	margin: 0;
}

button, input, select, textarea {
	/*font-size: 100%;*/
	margin: 0;
	vertical-align: baseline;
 *vertical-align: middle;
}

button, input {
	line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	white-space: normal;
	-webkit-appearance: button;
	cursor: pointer;
 *overflow: visible;
}

button[disabled], input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
 *height: 13px;
 *width: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

 input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}

 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}

textarea {
	resize:none;
	overflow: auto;
	vertical-align: top;
}

input, textarea {
	outline:0 none;
}