﻿<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Grão de Gente</title>
   </head>
   <body bgcolor="#FFFFFF" style="font-family:Arial;">
      <center>
         <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin:0 auto;display:table;">
            <tbody>
               <tr bgcolor="#808836">
                  <td width="100%">
                     <table width="600" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                           <tr bgcolor="#808836" width="600">
                              <td height="26" width="600" colspan="4">
                              </td>
                           </tr>
                           <tr bgcolor="#808836" width="600">
                              <td height="71" width="41"></td>
                              <td height="71" width="244">
                                 <a href="https://www.graodegente.com.br/?utm_source=transacional&amp;utm_medium=email&amp;utm_campaign=e-mail-andamento-do-pedido" title="Grão de Gente" target="_blank">
                                 <img src="http://emkt.graodegente.com.br/nova-newsletter2/imagem/logo.jpg" alt="Grão de Gente" height="71" width="244" style="display:block;border:none;">
                                 </a>
                              </td>
                              <td height="71" width="292">
                                 <p style="width:100%;text-align:right;color:#ffffff!important;font-family:Arial;text-decoration:none!important">
                                    Nº do pedido<br>
                                    <span style="font-size:28px;font-weight:bold;text-decoration:none!important;color:#ffffff!important">{{pedido}}</span>
                                 </p>
                              </td>
                              <td height="71" width="23"></td>
                           </tr>
                           <tr bgcolor="#808836" width="600">
                              <td height="13" width="600" colspan="4">
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr bgcolor="#ffffff">
                  <td width="100%">
                     <table width="600" border="0" cellpadding="0" cellspacing="0" style="text-align:left;color:#666666;font-family:Arial;font-size:16px">
                        <tbody>
                           <tr>
                              <td height="28" width="600" colspan="3">
                              </td>
                           </tr>
                           <tr>
                              <td height="49" width="40">
                              </td>
                              <td height="49" width="505">
                                 <p style="font-weight:bold;margin-bottom:0;text-align:left!important">
                                    Olá, {{nomecliente}}.
                                 </p>
<p style="font-weight:bold;margin-bottom:0;text-align:left!important">
                                                                    </p>
                                 <p style="margin-top:0;text-align:left!important">Informamos que seu pedido está em andamento e estamos consolidando os itens em nosso centro de distribuição para postagem. <br><br> Assim que seu pedido for postado você receberá o código de rastreio em seu email. <br><br> Caso queira consultar o prazo de entrega, acesse a área de meus pedidos em nosso site.<br> <br>
Atenciosamente, <br>
Grão de Gente
  </p>
                              </td>
                              <td height="49" width="33"></td>
                           </tr>
                           
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr bgcolor="#ffffff" style="font-family:Arial">
                  <td width="100%">
                     <table width="600" border="0" cellpadding="0" cellspacing="0">
                        </table>
                                </td>
                            </tr>
                        </tbody>
                     </table>
                  
               
               
                  
                     <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin:0 auto;">
                        <tbody>
                           <tr width="100%" height="100%">
                              <td width="40" height="100%"></td>
                              <td width="510" height="100%">
                                 <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                       <tr width="100%">
                                          <td width="100%" height="44" colspan="2"></td>
                                       </tr>
                                       <tr width="100%">
                                          <td width="275" height="40" style="border-top:1px solid #cccccc;border-bottom:1px solid #cccccc">
                                             <p style="font-size:15px;font-family:Arial;color:#666666;margin:0;text-align:left!important;margin-left:5px;">Para mais detalhes sobre sua compra:</p>
                                          </td>
                                          <td width="234" height="40" style="border-top:1px solid #cccccc;border-bottom:1px solid #cccccc">
                                             <a href="https://www.graodegente.com.br/login?url=%2Fpedidos&amp;utm_source=transacional&amp;utm_medium=email&amp;utm_campaign=e-mail-andamento-do-pedido" title="Acompanhe seu pedido" target="_blank">
                                              <img src="http://emkt.graodegente.com.br/nova-newsletter2/imagem/button.jpg" alt="Acompanhe seu pedido" style="display:block;border:none;" width="234" height="34">
                                             </a>    
                                          </td>
                                       </tr>
                                       <tr width="100%">
                                          <td width="100%" height="39" colspan="2"></td>
                                       </tr>
                                       <tr width="100%">
                                          <td width="100%" colspan="2">
                                             <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                   <tr width="100%">
                                                      <td width="106" height="44"></td>
                                                      <td width="43" height="44">
                                                         <a href="https://www.graodegente.com.br/central-de-atendimento" title="Central de atendimento" target="_blank">
                                                         <img src="http://emkt.graodegente.com.br/nova-newsletter2/imagem/atendimento.jpg" alt="Atendimento" style="display:block;border:none;" width="43" height="44">
                                                         </a>    
                                                      </td>
                                                      <td width="247" height="44" style="text-align:center">
                                                         <a href="https://www.graodegente.com.br/central-de-atendimento?utm_source=transacional&amp;utm_medium=email&amp;utm_campaign=e-mail-andamento-do-pedido" title="Central de atendimento" style="text-decoration:none;color:#000000" target="_blank">
                                                            <p style="font-size:15px;color:#666666;margin:0">
                                                               EM CASO DE DÚVIDA ACESSE<br>
                                                               <span style="font-size:15px;color:#000000;margin:0;font-weight:bold">
                                                               CENTRAL DE ATENDIMENTO
                                                               </span>
                                                            </p>
                                                         </a>
                                                      </td>
                                                      <td width="114" height="44"></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td width="100%" height="47" colspan="2"></td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                              <td width="21" height="100%"></td>
                           </tr>
                        </tbody>
                     </table>
                  
               
            
         
      </center>
   
</body></html>