﻿<!doctype html>
<html ⚡ lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="amp-google-client-id-api" content="googleanalytics">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}">
    <title>{{produtonome}} | Grão de Gente</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    {{videotag}}

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style amp-custom> 
        * {box-sizing:border-box;}
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #878787;
            line-height: normal;
            font-size: 12px;
            font-weight: bold;
        }
        ::-moz-placeholder { /* Firefox 19+ */ color: #878787;line-height: 40px;font-size: 12px;font-weight: bold; }
        :-ms-input-placeholder { /* IE 10+ */ color: #878787;line-height: 40px;font-size: 12px;font-weight: bold;}
        :-moz-placeholder { /* Firefox 18- */ color: #878787;line-height: 40px;font-size: 12px;font-weight: bold;}
        .carousel-amp, main, .title, .subBanners, .bannersCategorias, .links-rapidos, .slide, .contentPromocao, .parcelamento, .contentOffer, .listSelos, .quantidadePecas, .produtoIdLista, .seloLancamento span, .produtoinfos, .produtoFoto, .produtoSelos, .produto, .formBusca, .content-header, .subBanners li, .btn-page li, footer, footer .siteSeguroTopo, footer .links, footer .content-certificados, footer .info-empresa, .recomendados, h2{
            float:left;width:100%;
        }
        body{
            font-family: 'Roboto';
            float:left;
        }
        .sprite{
            background: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/mobile/ico/sprite.png) no-repeat;
            display:block;
        }
        ul{ padding: 0;list-style: none;}
        .none{display:none}
        a{
            text-decoration: none;
        }
        main{
            background: #FFF;
            padding: 0px 0px 60px;
            float: left;
            width: 100%;
        }
        .boxValores, .boxValores p, .btnParcelamento, .btnComprar, .boxinfoCompra, .estoque, .btn-page{
            float:left;
            width:100%;
            margin:5px 0 0;
            color:#666666;
            font-size: 13px;
        }
        .content-header{
            float: left;
            width: 100%;
            padding-bottom: 10px;
            background-color: #92a335;
        }
        .content-header .button-navigation{
            width: 40px;
            float: left;
            height: 40px;
            display: block;
            cursor: pointer;
            padding: 12px 8px;
            border-radius: 3px;
            position: relative;
            background: #6a7627;
            margin: 10px 0 0 10px;
        }
        .content-header .branding{
            position: absolute;
            left: 0;
            right: 0;
            top: 12px;
            width: 163px;
            margin: auto;
        }
        .content-header .button-navigation span{
            height: 3px;
            width: 100%;
            display: block;
            margin-bottom: 3px;
            background: #fff;
        }
        .content-header .cartInfo{
            float: right;
            position: relative;
            margin: 10px 10px 0 0;
            background-position: -92px -5px;
            width: 38px;
            height: 40px;
        }   
        .content-header .cartInfo span{
            top: -8px;
            right: -6px;
            width: 22px;
            height: 22px;
            color: #6a7627;
            line-height: 22px;
            text-align: center;
            font-size: 13.54px;
            border-radius: 50%;
            position: absolute;
            background-color: #fff;
            border: 1px solid #818746;
            box-shadow: 0 0.5px 9px -1px #000;
        }

        .formBusca{
            float: left;
            width: 100%;
            padding: 10px 48px 10px 10px;
            position: relative;
            background-color: #dfe2cf;
        }
        .formBusca input, .formBusca a{
            width: 100%;
            height: 40px;
            display: block;
            color: #878787;
            font-size: 18px;
            line-height: 20px;
            padding: 0px 8px;
            background-color: #fff;
            border: 1px solid #b3b78f;
            border-right: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none; 
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            text-decoration:none;
        }
        .formBusca a {
            top: 10px;
            right: 10px;
            width: 38px;
            height: 40px;
            border: none;
            position: absolute;
            text-indent: -9999px;
            background-position: -87px -89px;
        }
        .produto .h1{
            color: #333;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 110%;
            margin-bottom: 20px;
            text-align: center;
            padding: 0 10px;
            font-weight: bold;
        }
        .produto .h1 span{
            font-weight: normal;
            padding-left: 5px;
            width: auto;
            margin-left: 6px;
            line-height: 130%;
            font-size: 13px;
            text-transform: capitalize;
            display: inline-block;
        }
        .carousel-produtos{
            float: left;
            display: inline-block;
            width: 100%;
            min-height:375px;
           }
        .carousel-produtos .produtoSelos{
            top: -8px;
            position: relative;
            z-index: 100;
            display: block;
            margin-bottom: -17px;
        }
        .carousel-produtos .produtoSelos .seloExclusivo{
            height: 34px;
            width: 260px;
            background: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/mobile/selos/original-2.png) top center no-repeat;
            margin: auto;
        }

            .carousel-produtos img {
                min-height: 330px;
                width: 100%;
                height: 100%;
            }

        .dots{
            float: left;
            display: block;
            padding: 7px 0 7px;
            width: 100%;
            text-align: center;
        }

        .dots span{
            opacity: 1;
            width: 12px;
            height: 12px;
            border:none;
            border-radius: 50%;
            margin: 0 0 -2px 5px;
            background: #a4a5a9;
            text-indent: -999999px;
            display: inline-block;
        }

        .dots span.active{
            background: #e94a6e;
        }
        .boxValores{ padding: 0 10px 30px;}
        .contentPromocao{
            float: left;
            width: 100%;
            margin-bottom: 11px;
            padding: 0 10px;
        }
        .boxValores .quantidadePecas{
            color: #eb476c;
            font-size: 18px;
            font-weight: bold;
            margin-top: 0;
        }
        .boxValores p.precoDePor{
            text-decoration: line-through;
        }
        .boxValores p.precoAVista{
            font-size: 20px;
            color: #000000;
            font-weight: bold;
            margin-bottom: 8px;
            position:relative;
            line-height: 100%;
        }
        .boxValores p.precoAVista span{
            color: #666;
            font-weight: normal;
            font-size:13px;
        }
        .boxValores p.valorParcela{
            font-size: 22px;
            color: #D01B46;
            font-weight: bold;
        }
        .boxValores p.valorParcela .btnParcelamento{
            font-size: 12px;
            color: #757575;
            line-height: 22px;
            text-decoration: underline;
        }
        .boxValores p.valorParcela span{
            font-size: 16px;
        }
        .boxValores p span.porcentagemDesconto{
            top: 0;
            right: 5px;
            padding: 1px 7px;
            font-size: 18px;
            color: #fff;
            line-height: 25px;
            position: absolute;
            background-color: #E94A6E;
            text-transform: uppercase;
        }        
        .btnComprar{
            padding: 0 10px;
            position: relative;
        }
        
        .btnComprar .btn-action{
            height: 40px;
            line-height: 38px;
            font-size: 23.66px;
            border-radius: 5px;
            padding-right: 20px;
            background: #d01b46;
            text-transform: uppercase;
            position: relative;
            z-index: 6;
            font-weight: bold;
            color: #FFF;
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding-right: 0;
            float: left;
        }
        .btnComprar .btn-action span{
            text-align: center;
            display: inline-block;
        }
        .btnComprar .btn-action span .imgbtn{
            width: 24px;
            height: 35px;
            background: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/mobile/ico/sprite.png) -92px -48px no-repeat;
            padding-left: 42px;
            float: left;
        }
        .seloBrindes{
            float: left;
            width: 100%;
            z-index: 0;
            text-align: center;
            background: #21567d;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            padding: 10px 0 8px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-top: -3px;
        }
        .boxinfoCompra{
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .siteSeguro{
            text-align: center;
            display: block;
        }
        .siteSeguro .boxCadeado{
            color: #fff;
            border-radius: 7%;
            display: inline-block;
            background-size: 15.5%;
            padding: 4px 8px 3px 30px;
            background-color: #c0c265;
            background-position: 5px 2px;
            background-repeat: no-repeat;
            background-image: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/_shared/ico/cadeado-light-green-small.png);
        }
        .saibaPorque{
            float: none;
            width: auto;
            color: #7C8137;
            font-size: 10px;
            padding-top: 6px;
            display: block;
            text-decoration: underline;
        }
        .saibaPorque span{
            color: #E7476D;
        }
        .entrega{
            float: left;
            text-align:center;
            width:100%;
        }
        .entrega li{
            width: 100%;
            float: left;
            font-size:12px;
            padding: 8px 8px 6px;
            border-bottom: 1px solid #d2d2d2;
            text-transform:uppercase;
        }
        .entrega li:first-child{
            border-top: 1px solid #d2d2d2;
        }
        .entrega li strong, .entrega li b, .entrega li a{color: #000;}
        .entrega li p{
            font-weight: bold;
            color: #666;
            margin: 0;
        }
        .entrega li .fontsmall{font-size: 12px;text-transform: none;}
        .estoque{
            text-align: center;
            padding: 16px 7px 4px;
            margin:0;
        }
        .btn-page li{
            float: left;
            width: 100%;
            border-top: solid 1px #999;
            position: relative;
            text-transform: uppercase;
        }
        .btn-page li:last-child {
            border-bottom: solid 1px #999;
        }
        .btn-page li:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5px;
            margin: auto;
            border: 8px solid transparent;
            border-left-color: #ccc;
        }
        .btn-page li a{
            font-size: 14px;
            color:#666666;
            text-decoration:none;
            padding: 19px 20px;
            display: block;
            font-weight: bold;
        }
        footer{
            float: left;
            width: 100%;
            background: #f5f6ef;
        }
        footer .centralAtendimentoRodape{
            width: 280px;
            margin: 30px auto 20px;
            border-radius: 10px;
            display: block;
            border: 1px solid #BBB;
            padding: 10px 15px 20px;
        }
        footer .centralAtendimentoRodape p{
            color: #6a7627;
            font-size: 17px;
            min-height: 75px;
            line-height: 100%;
            display: block;
            margin: auto;
            width: 157px;
            padding: 36px 0 10px 75px;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
        }
        footer .centralAtendimentoRodape p span{
            background-image: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/mobile/ico/sprite.png);
            background-position: -5px -55px;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 72px;
            height: 73px;
        }
        footer .centralAtendimentoRodape a{
            background-color: #687426;
            border: 1px solid #687426;
            padding: 6px 10px;
            line-height: 100%;
            display: block;
            color: #FFF;
            font-weight: 800;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        footer .cliente, footer .cliente a{
            width: 100%;
            color: #6a7627;
            font-size: 15px;
            text-align: center;
            padding:  0 0 10px;
        }
        footer .cliente a{
            text-decoration: underline;
        }
        footer .siteSeguroTopo{
            float: left;
            width: 100%;
            height: 40px;
            position: relative;
            text-align: center;
            color: #FFF;
            font-size: 13px;
            font-weight: bold;
            background: #E9446C;
        }
        footer .siteSeguroTopo p{
            background: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/mobile/ico/cadeado-pink-min.png) left center no-repeat;
            line-height: 40px;
            padding: 0 15px 0 32px;
            display: inline-block;
            position:relative;
            margin: 0 auto;
        }
        footer .siteSeguroTopo p:after{
            content: "";
            width: 0;
            height: 0;
            border: transparent 7px solid;
            border-left-color: #ffffff;
            position: absolute;
            right: -8px;
            top: 12px;
        }
        footer .links{
            float: left;
            width: 100%;
            text-align: center;
        }
        footer .links a{
            color: #aaa;
            font-size: 14px;
            font-weight: 700;
        }
        footer .links li{
            vertical-align: top;
            display: inline-block;
        }
        footer .links li:last-child{
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid #aaa;
        }
        footer .content-certificados {
            float: left;
            width: 100%;
            text-align: center;
            margin: 5px 0 10px;
            color: #6a7627;
            font-weight: 700;
            line-height: 110%;
        }
        footer .content-certificados ul li{
            display: inline-block;
            margin-top:-9px;
        }
        footer .content-certificados ul li:last-child{
            margin-left: 40px;
        }
        footer .content-certificados .sprite-fundacao-abrino{
            background-position: -140px -5px;
            width: 100px;
            height: 74px;
        }
        footer .content-certificados ul .sprite-trusted-company{
            background-position: -135px -89px;
            width: 100px;
            height: 74px;
        }
        footer .info-empresa{
            float: left;
            width: 100%;
            font-size: 9px;
            text-align: center;
            color: #6a7627;
            margin-bottom: 14px;
        }
        footer .info-empresa .title{
            font-weight: bold;
        }
        .desenv{
            color: #9e9e9e;
            font-size: 12px;
            text-align: center;
            margin-bottom: 12px;
        }
        .desenv a{
            background-position: -5px -5px;
            width: 40px;
            height: 11px;
            margin: auto;
        }

        /* SIDEBAR */
            .sidebar .conteudo-fretegratis .box-white,
            .sidebar .conteudo-fretegratis .box-gray {
                width: 100%;
                float:left;
                padding: 20px 10px 20px 70px;
                font-weight:bold
            }
                .sidebar .conteudo-fretegratis .box-gray{
                    background: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/mobile/ico/caminhao-green-bg.jpg) 8px 41px no-repeat #F4F6EE;
                }
                .sidebar .conteudo-fretegratis .box-white{
                    background: url(https://d36jtpqfv6d5k6.cloudfront.net/1.2.1161/assets/img/_shared/ico/localizacao-green-bg.jpg) 26px 93px no-repeat #FFF;
                }
                .sidebar .conteudo-fretegratis .box-white p{font-size:14px;margin:5px 0}
                .sidebar .conteudo-fretegratis .box-white p span.small{font-size:10px;}

                .sidebar .conteudo-fretegratis .pink{color: #E9446B;}
                .sidebar .conteudo-fretegratis .green{color: #7F873B;}
                .sidebar .conteudo-fretegratis .cinza{color: #777;}
                .sidebar .conteudo-fretegratis .box-white p span{
                    margin-top:5px;
                    display:inline-block;
                }
                .sidebar .conteudo-fretegratis .box-gray span{font-size: 22px;line-height: 88%;}
                body .sidebar{
                    width: 100vw;
                    max-width: 100vw;
                    background-color:#ffffff;
                }
                .sidebar.gray{
                    background-color:#dfe2cf;
                }
                .sidebar .btn-close{
                    float: left;
                    width: 100%;
                    padding: 15px 10px;
                    background-color: #92a335;
                }
                .sidebar .btn-close .btn-sidebar{
                    font-size: 15px;
                    line-height: 28px;
                    background-color: #687426;
                    border: 1px solid #687426;
                    width: 100%;
                    -webkit-border-radius: 4px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: bold;
                    position:relative;
                }
                    .sidebar .btn-close .btn-sidebar:before{
                            left: 4px;
                            margin-top: -4px;
                            border: 4px solid transparent;
                            border-right-color: #FFF;
                            top: 50%;
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 0;
                    }
            .sidebar .conteudo{
                padding: 26px 10px 0;
                text-align: justify;
            }
                .sidebar .conteudo h1{
                    float: left;
                    width: 100%;
                    color: #333333;
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 110%;
                    margin-bottom: 25px;
                    text-align: center;
                    padding:10px 10px 0;
                }
                .sidebar .conteudo p{
                    font-size: 15px;
                    line-height: 140%;
                    width: 100%;
                    float: left;
                }
                .sidebar .conteudo .id{
                    margin-left: 0;
                }
                .sidebar .conteudo .title{
                    color: #6a7627;
                    margin: 10px 0;
                    font-size: 20px;
                }
                .sidebar .conteudo .templateDetalheTabela{
                    margin-bottom:20px;
                }
                .sidebar .conteudo .parcelamento:first-child{
                    border-bottom: 1px solid #6a7627;
                }
                .sidebar .conteudo .templateDetalheTabela{
                    margin-bottom:20px;
                }
                .sidebar .conteudo .parcelamento{
                    float: left;
                    padding-bottom: 18px;
                    width: 100%;
                }
                    .sidebar .conteudo .parcelamento li{
                        float: left;
                        display: block;
                        padding: 1.5px 0;
                    }
                #carousel div amp-img img{
                    margin:0;
                }
        /*/ SIDEBAR */

        /* TABELA DE DESCRICAO */
        .sidebar .conteudo .templateDetalheTabela .descricaoDetalhadaStyle {
            line-height: 120%;
        }

        .templateDetalheTituloBloco {
                color: #EB476C;
                font-size: 14px;
                font-weight: 700;
                padding-top: 27px;
                padding-bottom: 0;
                line-height: 0;
            }

        .templateDetalheNome {
            width: 100%;
            font-weight: 700;
            color: #000;
            font-size: 14px;
            vertical-align: top;
            display: block;
        }
        .templateDetalheQuantidade {
            display: none;
        }
        .templateDetalheDescricao {
            display: none;
        }
        .templateDetalheNomeDetalhe {
            display: none;
        }

        .templateDetalheQuantidadeDetalhe {
            font-size: 14px;
        }

        .templateDetalheDescricaoDetalhe {
            font-size: 14px;
        }


        {{css360}}
        {{cssespecificacoes}}
    </style>
  </head>
  <body class="amp">
     <amp-sidebar id="sidebar-descricao" layout="nodisplay" side="left" class="sidebar">
        <div class="btn-close">
            <button on="tap:sidebar-descricao.close" class="ampstart-btn caps m2 btn-sidebar">VOLTAR PARA O PRODUTO</button>
        </div>
        <div class="conteudo">
            <h1>{{produtonome}}</h1>
            <p class="id">Ref: {{produtoid}}</p>
            <p class="title"> Descrição </p>
            {{htmldescricao}}
        </div>
    </amp-sidebar>
    <amp-sidebar id="sidebar-composicao" layout="nodisplay" side="left" class="sidebar">
        <div class="btn-close">
            <button on="tap:sidebar-composicao.close" class="ampstart-btn caps m2 btn-sidebar">VOLTAR PARA O PRODUTO</button>
        </div>
        <div class="conteudo">
            <h1>{{produtonome}}</h1>
            <p class="id">Ref: {{produtoid}}</p>
            <p class="title"> Composição </p>
            {{htmlcomposicao}}
        </div>
    </amp-sidebar>

    <amp-sidebar id="sidebar-parcelamento" layout="nodisplay" side="right" class="sidebar gray">
        <div class="btn-close">
            <button on="tap:sidebar-parcelamento.close" class="ampstart-btn caps m2 btn-sidebar">VOLTAR PARA O PRODUTO</button>
        </div>
        <div class="conteudo">
            <div class="parcelamento">
                <p class="title"> Cartão </p>
                <ul> 
                    {{parcelamentocartao}}
                </ul>
            </div>
            <div class="parcelamento"> 
                <p class="title"> Boleto </p> 
                <ul> 
                    {{parcelamentoboleto}}
                </ul> 
            </div>
        </div>
    </amp-sidebar>
    <amp-sidebar id="sidebar-fretegratis" layout="nodisplay" side="left" class="sidebar gray">
        <div class="btn-close">
            <button on="tap:sidebar-fretegratis.close" class="ampstart-btn caps m2 btn-sidebar">VOLTAR</button>
        </div>
        <div class="conteudo-fretegratis">
            <div class="box-gray"> 
                <p> REGRAS DE <br> <span class="pink">FRETE GRÁTIS*</span><br><span class="cinza">PARA TODO BRASIL</span></p> 
            </div> 
            <div class="box-white"> 
                <p>
                    <strong class="pink">VOCÊ TEM FRETE GRÁTIS</strong><br> <strong>Nas compras acima de <br>R$ 199,00 para os Estados de:</strong> <br>
                    <span class="green">São Paulo, Minas Gerais Paraná, Rio de Janeiro, Santa Catarina e Rio Grande do Sul</span> 
                </p> 
                <p> 
                    <span class="green">Para os demais Estados,</span><br> nas compras acima de R$ 499,00 <br> 
                    <span class="small">* Esta regra não se aplica aos móveis e colchões.</span> 
                </p> 
            </div> 
        </div>
    </amp-sidebar>

    <header>
      <div class="content-header" id="scrollTopo">
          <a href="https://www.graodegente.com.br/menu" class="button-navigation">
              <span></span>
              <span></span>
              <span></span>
          </a>
          <a class="branding" title="Grão de Gente" href="https://www.graodegente.com.br/">
              <amp-img src="https://www.graodegente.com.br/assets/img/mobile/logos/graodegente.png" alt="Grão de Gente" title="Grão de Gente" width="163px" height="40px">
                <noscript>
                    <img src="https://www.graodegente.com.br/assets/img/mobile/logos/graodegente.png" alt="Grão de Gente" title="Grão de Gente" width="163px" height="40px"/>
                </noscript>
              </amp-img>
          </a>
          <a class="cartInfo sprite" title="Carrinho" href="https://www.graodegente.com.br/carrinho">
              <span>0</span>
          </a>
      </div>
        <amp-state id="searchTerm"></amp-state>
        <div class="formBusca">
            <input type="search" name="busca" placeholder="PROCURAR EM MAIS DE 30.000 ITENS" id="busca" on="change:AMP.setState({searchTerm: event.value})">
            <a [href]="'https://www.graodegente.com.br/busca/' + searchTerm" class="sprite"></a>
        </div>
    </header>

    <main class="produto" itemscope="" itemtype="https://schema.org/Product">
        <ul class="none" itemscope itemtype="http://schema.org/BreadcrumbList"> 
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
                <a title="Home" href="https://www.graodegente.com.br/" itemprop="item">  
                    <span itemprop="name">Home</span>
                    <meta itemprop="url" content="https://www.graodegente.com.br/">
                    <meta itemprop="position" content="1" />
                </a> 
                <span>|</span> 
            </li> 
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
                <a title="{{categorianome}}" href="https://www.graodegente.com.br/{{categoriaurl}}" itemprop="item">  
                    <span itemprop="name">{{categorianome}}</span>
                    <meta itemprop="url" content="https://www.graodegente.com.br{{categoriaurl}}">
                    <meta itemprop="position" content="2" />
                </a> 
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
                <a title="{{produtonome}}" href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}" itemprop="item">  
                    <span itemprop="name">{{produtonome}}</span>
                    <meta itemprop="url" content="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}">
                    <meta itemprop="position" content="3" />
                </a> 
            </li>  
        </ul>

        <div class="productDetail" >
            <meta itemprop="url" content="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}">
            <meta itemprop="description" content="{{produtodescricao}}">
            <meta itemprop="category" content="{{categorianome}}">
            <h1 class="none" itemprop="name">{{produtonome}}</h1>
        </div>

        <div class="carousel-produtos" id="pinchCarousel">
            <amp-image-lightbox id="lightbox" layout="nodisplay"></amp-image-lightbox>
            <amp-carousel type="slides" layout="responsive" height="500" width="500" id="carousel" on="slideChange:AMP.setState({selected: {slide: event.index}})">
                {{fotos}}
                {{videos}}
            </amp-carousel>
            
            {{originaisSelo}}

            <p class="dots">
                {{dots}}
            </p>
        </div>

        {{t360}}

        {{especificacoes}}
        
        <p class="h1"> {{produtonome}} <span class="ref"> Ref: {{produtoid}} </span> </p>
        <meta content="https://schema.org/NewCondition" itemprop="itemCondition">
        <div class="boxValores" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta content="https://schema.org/InStock" itemprop="availability">
            <meta content="BRL" itemprop="priceCurrency">
            <meta itemprop="price" content="{{precoavistameta}}">

            {{pecas}}
            <p class="precoDePor"> de R$ {{precode}} por: </p>
            <p class="precoAVista">
               R$ {{precoavista}} <br> 
               <span>
                  no Boleto <br>
               </span>
               <span class="porcentagemDesconto">{{porcentagemoff}}% Off</span>
            </p>
            <p class="valorCartao"> ou R$ {{valorcartao}} </p>
            <meta itemprop="itemCondition" content="{{quantidadeparcela}}x de R$ {{valorparcela}} sem juros">
            <p class="valorParcela"> {{quantidadeparcela}}x de R$ {{valorparcela}} <span>sem juros</span><br> <a on="tap:sidebar-parcelamento.toggle" class="btnParcelamento" title="ver parcelamento">ver parcelamento</a>  </p>
        </div>

        <a href="https://www.graodegente.com.br/carrinho?produtoId={{produtoid}}" class="btnComprar" title="Comprar"> 
            <span class="btn-action">
                <span>
                    <span class="imgbtn"></span> Comprar
                </span>
            </span>
            {{brinde}} 
        </a>
        
        <div class="boxinfoCompra">
            <a title="Site seguro" href="https://www.graodegente.com.br/site-seguro" class="siteSeguro"> 
                <span class="boxCadeado"> SITE SEGURO </span>
                <span class="saibaPorque"> SAIBA PORQUE <span>&gt;</span> </span> 
            </a> 

            <ul class="entrega">
                <li> 
                    <a class="link" data-rel="freteGratis" data-side="right" on="tap:sidebar-fretegratis.toggle">
                        <div class="box"> 
                            <p class="frete"> 
                                <strong>Frete Grátis</strong> Para todo o Brasil <br> 
                                <span class="fontsmall">*Consulte as regras</span> 
                            </p> 
                        </div> 
                    </a> 
                </li>
                <li> 
                    <p class="box"> 
                        <b class="title">30 Dias</b> 
                        <br> PARA EFETUAR TROCA DO PRODUTO OU 
                        <br><b>DEVOLUÇÃO DE 100% DO SEU DINHEIRO</b> 
                    </p> 
                </li>
            </ul>

            <p class="estoque">
                <span> 
                    <strong> Disponibilidade em estoque: </strong>
                    <br> 
                    Postagem de {{prazode}} a {{prazoate}} dias úteis, mais prazo de entrega. 
                </span> 
            </p>
        </div>

        <ul class="btn-page">
            <li>
                <a on="tap:sidebar-descricao.toggle" class="btn transparentFull rightArrow greenArrow minArrow" title="Descrição"> Descrição </a>
                <!--<a href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}?desc=1" class="btn transparentFull rightArrow greenArrow minArrow" title="Descrição"> Descrição </a>-->
            </li>
            <li>
                <a on="tap:sidebar-composicao.toggle" class="btn transparentFull rightArrow greenArrow minArrow" title="Composição"> Composição </a>
                <!-- <a href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}?comp=1" class="btn transparentFull rightArrow greenArrow minArrow" title="Composição"> Composição </a>-->
            </li>
                {{colecao}}
             </ul>

             {{recomendados}}
        </main>

        <footer>
            <div class="centralAtendimentoRodape">
                <p><span></span>Tire suas <br> dúvidas</p>
                <a class="btn" title="ACESSE NOSSOS CANAIS DE ATENDIMENTO" href="https://www.graodegente.com.br/central-de-atendimento">
                    ACESSE NOSSOS <br> CANAIS DE ATENDIMENTO
                </a>
            </div>

            <p class="cliente">
                <a title="Login" href="https://www.graodegente.com.br/login">LOGIN</a> OU <a title="CADASTRE-SE" href="https://www.graodegente.com.br/cadastro">CADASTRE-SE</a> &gt;
            </p>

            <div class="siteSeguroTopo">
                <p>SAIBA PORQUE NOSSO SITE É SEGURO</p>
                <a class="link" title="SAIBA PORQUE NOSSO SITE É SEGURO" href="https://www.graodegente.com.br/site-seguro"></a>
            </div>

            <ul class="links">
                <li>
                    <a title="A Empresa" href="https://www.graodegente.com.br/a-empresa">
                        A Empresa
                    </a>
                </li>
                <li>
                    <a title="Meus Pedidos" href="https://www.graodegente.com.br/pedidos">
                        Meus Pedidos
                    </a>
                </li>
            </ul>

            <div class="content-certificados">
                <p>
                    CERTIFICADO
                </p>
                <ul>
                    <li>
                        <a class="sprite sprite-trusted-company" href="http://trustedcompany.com/br/graodegente.com.br-opini%C3%B5es?rating=5" rel="nofollow" target="_blank" title="Trusted Company"></a>
                    </li>
                    <li>
                        <a class="sprite sprite-fundacao-abrino" href="http://www.fundabrinq.org.br/" rel="nofollow" target="_blank" title="Fundação Abrinq"></a>
                    </li>
                </ul>
            </div>

            <div class="info-empresa" itemscope="itemscope" itemtype="https://schema.org/Organization">
                <meta content="Grão de Gente" itemprop="brand">
                <meta content="https://www.graodegente.com.br/assets/img/desktop/logos/graodegenteLogo.png" itemprop="logo">
                <meta content="https://www.graodegente.com.br/" itemprop="url">
                <meta content="https://www.facebook.com/graodegente" itemprop="sameAs">
                <meta content="https://instagram.com/graodegente/" itemprop="sameAs">
                <meta content="https://twitter.com/graodegente" itemprop="sameAs">
                <meta content="https://plus.google.com/+GraodegenteBr/about" itemprop="sameAs">
                <meta content="https://www.pinterest.com/graodegente/" itemprop="sameAs">
                <meta content="http://bloggraodegente.com.br/" itemprop="sameAs">
               <p class="title">
                    Grão de Gente - Lindsay Ferrando ME
                </p>
                <p>
                    CNPJ: 10.924.051/0001-63 - Escritório Administrativo: Av. Ana Costa, 416, conj 21 - 11060-002 - Gonzaga - Santos, SP (não temos showroom)
                </p>
            </div>

            <p class="desenv">
                Plataforma:
                <a class="sprite" href="http://bark.com.br/" rel="nofollow" target="_blank" title="Bark"></a>
            </p>
        </footer>
        <amp-install-serviceworker src="https://www.graodegente.com.br/sw-mobile.js"
        data-iframe-src="https://www.graodegente.com.br/sw.html"
        layout="nodisplay">
      </amp-install-serviceworker>
       <amp-analytics type="googleanalytics" id="analytics1">
            <script type="application/json">
                {
                "vars": {
                "account": "UA-33857091-1"
                },
                "triggers": {
                    "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                    }
                }
                }
            </script>
        </amp-analytics>
        <amp-pixel src="https://www.facebook.com/tr?id=1583344115250199&ev=ViewContent&cd[value]={{valorface}}&cd[currency]=BRL&cd[content_type]=product&cd[content_ids]={{produtoid}}&noscript=1" layout="nodisplay"></amp-pixel>
        <amp-pixel src="https://widget.criteo.com/event?a=8278&rt=gif&v=4.5.1&p0=e%3Dexd%26site_type%3Dm&p1=e%3Dvp%26p%3D{{produtoid}}&p2=e%3Dexd%26ref%3Dhttps%253A%252F%252Famp.graodegente.com.br&p3=e%3Ddis&adce=1" layout="nodisplay"></amp-pixel>
      </body>
    </html>
