﻿<li>
   <a href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}?colecao=1" class="btn transparentFull rightArrow greenArrow minArrow" title="ver Produtos desta coleção"> ver Produtos desta coleção </a> 
</li>