﻿<li class="listaEspecificacoes">
	<p class="nomeItem">{{especificacaonome}}: <span>{{especificacaoatual}}</span></p>
	<ul class="listagem {{cssulespecificacao}}">
		{{especificacaoitemproduto}}
	</ul>
</li>