﻿<li {{cssespecificacaoativa}}> 
	<a title="Rosa Bebê" href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}">  <span {{cssspanitemespecificacao}} {{idspanespecificacao}}>{{especificacaoitemnome}}</span>   </a> 
</li>