﻿<div itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
	<meta itemprop="caption" content="{{produtonome}}">
	<meta itemprop="url" content="https://dmhxz00kguanp.cloudfront.net/fotos/{{produtoid}}/500_{{produtofoto}}.jpg">
	<meta itemprop="representativeOfPage" content="true">
	<amp-img width="500" height="500" on="tap:lightbox" role="button" tabindex="{{tabindex}}" layout="responsive" itemprop="image" src="https://dmhxz00kguanp.cloudfront.net/fotos/{{produtoid}}/500_{{produtofoto}}.jpg" title="{{produtonome}}" alt="{{produtonome}}"></amp-img>
</div>