<div class="recomendados">
    <h2 class="subTitle">Especialmente para você!</h2>
    <amp-carousel class="carousel-amp" width="400" height="800" layout="responsive" type="slides">
        <div class="produto">
            <ul class="produtoSelos">
                <li class="seloLancamento">
                    <span>LANÇAMENTO</span>
                </li>
            </ul>
            <a class="produtoFoto" href="/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                <amp-img alt="Bolsas Maternidade"
                    width="171"
                    height="171"
                    layout="responsive"
                    src="https://dmhxz00kguanp.cloudfront.net/fotos/71576/media_cama-casinha-montessoriana-branca-151149.webp">
                    <amp-img alt="Bolsas Maternidade"
                        fallback
                        width="171"
                        height="171"
                        layout="responsive"
                        src="https://dmhxz00kguanp.cloudfront.net/fotos/71576/media_cama-casinha-montessoriana-branca-151149.jpg">
                        </amp-img>
                </amp-img>
            </a>
            <div class="produtoinfos">
                <div class="seloExclusivoPai">
                    <div class="seloExclusivo"></div>
                </div>
                <div class="listSelos"></div>
                <div class="contentPromocao">
                    <div class="quantidadePecas">
                        <p class="numeroPecas mobile">14</p>
                        <p class="textPecas">peças</p>
                    </div>
                </div>
                <h2>
                    <a href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                        <span>cama casinha montessoriana branca</span>
                    </a>
                </h2>
                <p class="produtoIdLista">Ref: 71576</p>
                <ul class="listSelos">
                    <li class="seloFrete"><a title="FRETE GRÁTIS">frete grátis</a></li>
                </ul>
                <div class="contentOffer">
                    <p class="precoDePor">
                        <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                            de R$ 762,20 por
                        </a>
                    </p>
                    <p class="precoAVista">
                        <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                            R$ 464,90 à vista
                        </a>
                    </p>
                </div>
                <p class="parcelamento">
                    <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                        12x de R$ 45,58<br>
                        <span>s/juros</span>
                    </a>
                </p>
                <div class="contentPromocao">
                    <div class="seloBrindes">
                        <span>ganhe 2 brindes!</span>
                    </div>
                </div>
                <div class="porcentagemDesconto">
                    desconto de: <span class="numero">39%</span>
                </div>
            </div>
        </div>
        <div class="produto">
            <ul class="produtoSelos">
            </ul>
            <a class="produtoFoto" href="/fio-de-luz-e-varal-decorativo/fio-de-luz-com-bolinhas-110v-branco">
                <amp-img alt="Fio de Luz"
                    width="171"
                    height="171"
                    layout="responsive"
                    src="https://dmhxz00kguanp.cloudfront.net/fotos/78826/media_fio-de-luz-com-bolinhas-brancas-110v-180844.webp">
                    <amp-img alt="Fio de Luz"
                        fallback
                        width="171"
                        height="171"
                        layout="responsive"
                        src="https://dmhxz00kguanp.cloudfront.net/fotos/78826/media_fio-de-luz-com-bolinhas-brancas-110v-180844.jpg">
                        </amp-img>
                </amp-img>
            </a>
            <div class="produtoinfos">
                <div class="contentPromocao">
                </div>
                <h2>
                    <a href="https://www.graodegente.com.br/fio-de-luz-e-varal-decorativo/fio-de-luz-com-bolinhas-110v-branco">
                        <span>Fio de Luz com Bolinhas Brancas 110V</span>
                    </a>
                </h2>
                <p class="produtoIdLista">Ref: 71576</p>
                <div class="contentOffer">
                    <p class="precoDePor">
                        <a title="Fio de Luz com Bolinhas Brancas 110V" href="https://www.graodegente.com.br/fio-de-luz-e-varal-decorativo/fio-de-luz-com-bolinhas-110v-branco">
                            de R$ 210,50 por
                        </a>
                    </p>
                    <p class="precoAVista">
                        <a title="Fio de Luz com Bolinhas Brancas 110V" href="https://www.graodegente.com.br/fio-de-luz-e-varal-decorativo/fio-de-luz-com-bolinhas-110v-branco">
                            R$ 134,47 à vista
                        </a>
                    </p>
                </div>
                <p class="parcelamento">
                    <a title="Fio de Luz com Bolinhas Brancas 110V" href="https://www.graodegente.com.br/fio-de-luz-e-varal-decorativo/fio-de-luz-com-bolinhas-110v-branco">
                        12x de R$ 13,18<br>
                        <span>s/juros</span>
                    </a>
                </p>
                <div class="contentPromocao">
                </div>
                <div class="porcentagemDesconto">
                    desconto de: <span class="numero">36%</span>
                </div>
            </div>
        </div>
        <div class="produto">
            <ul class="produtoSelos">
                <li class="seloLancamento">
                    <span>LANÇAMENTO</span>
                </li>
            </ul>
            <a class="produtoFoto" href="/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                <amp-img alt="Bolsas Maternidade"
                    width="171"
                    height="171"
                    layout="responsive"
                    src="https://dmhxz00kguanp.cloudfront.net/fotos/84579/media_kit-montessoriano-arabesco-azul-bebe-187134.webp">
                    <amp-img alt="Bolsas Maternidade"
                        fallback
                        width="171"
                        height="171"
                        layout="responsive"
                        src="https://dmhxz00kguanp.cloudfront.net/fotos/71576/media_cama-casinha-montessoriana-branca-151149.jpg">
                        </amp-img>
                </amp-img>
            </a>
            <div class="produtoinfos">
                <div class="seloExclusivoPai">
                    <div class="seloExclusivo"></div>
                </div>
                <div class="listSelos"></div>
                <div class="contentPromocao">
                    <div class="quantidadePecas">
                        <p class="numeroPecas mobile">14</p>
                        <p class="textPecas">peças</p>
                    </div>
                </div>
                <h2>
                    <a href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                        <span>cama casinha montessoriana branca</span>
                    </a>
                </h2>
                <p class="produtoIdLista">Ref: 71576</p>
                <ul class="listSelos">
                    <li class="seloFrete"><a title="FRETE GRÁTIS">frete grátis</a></li>
                </ul>
                <div class="contentOffer">
                    <p class="precoDePor">
                        <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                            de R$ 762,20 por
                        </a>
                    </p>
                    <p class="precoAVista">
                        <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                            R$ 464,90 à vista
                        </a>
                    </p>
                </div>
                <p class="parcelamento">
                    <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                        12x de R$ 45,58<br>
                        <span>s/juros</span>
                    </a>
                </p>
                <div class="contentPromocao">
                    <div class="seloBrindes">
                        <span>ganhe 2 brindes!</span>
                    </div>
                </div>
                <div class="porcentagemDesconto">
                    desconto de: <span class="numero">39%</span>
                </div>
            </div>
        </div>
        <div class="produto">
            <ul class="produtoSelos">
                <li class="seloLancamento">
                    <span>LANÇAMENTO</span>
                </li>
            </ul>
            <a class="produtoFoto" href="/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                <amp-img alt="Bolsas Maternidade"
                    width="171"
                    height="171"
                    layout="responsive"
                    src="https://dmhxz00kguanp.cloudfront.net/fotos/78564/media_kit-montessoriano-floral-rosa-174410.webp">
                    <amp-img alt="Bolsas Maternidade"
                        fallback
                        width="171"
                        height="171"
                        layout="responsive"
                        src="https://dmhxz00kguanp.cloudfront.net/fotos/71576/media_cama-casinha-montessoriana-branca-151149.jpg">
                        </amp-img>
                </amp-img>
            </a>
            <div class="produtoinfos">
                <div class="seloExclusivoPai">
                    <div class="seloExclusivo"></div>
                </div>
                <div class="listSelos">
                </div>
                <div class="contentPromocao">
                    <div class="quantidadePecas">
                        <p class="numeroPecas mobile">14</p>
                        <p class="textPecas">peças</p>
                    </div>
                </div>
                <h2>
                    <a href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                        <span>cama casinha montessoriana branca</span>
                    </a>
                </h2>
                <p class="produtoIdLista">Ref: 71576</p>
                <ul class="listSelos">
                    <li class="seloFrete"><a title="FRETE GRÁTIS">frete grátis</a></li>
                </ul>
                <div class="contentOffer">
                    <p class="precoDePor">
                        <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                            de R$ 762,20 por
                        </a>
                    </p>
                    <p class="precoAVista">
                        <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                            R$ 464,90 à vista
                        </a>
                    </p>
                </div>
                <p class="parcelamento">
                    <a title="Cama Casinha Montessoriana Branca" href="https://www.graodegente.com.br/quarto-montessoriano-de-bebe/cama-casinha-montessoriana-branca-branco">
                        12x de R$ 45,58<br>
                        <span>s/juros</span>
                    </a>
                </p>
                <div class="contentPromocao">
                    <div class="seloBrindes">
                        <span>ganhe 2 brindes!</span>
                    </div>
                </div>
                <div class="porcentagemDesconto">
                    desconto de: <span class="numero">39%</span>
                </div>
            </div>
        </div>
    </amp-carousel>
</div>