﻿<a class="foto360-container" href="https://www.graodegente.com.br/{{categoriaurl}}/{{produtourl}}?foto360=1"> 
	<ul class="foto360"> 
		<li class="img"></li>
		<li class="titulo"> 
			<p>Sinta-se no <br> Quarto do <br> seu Bebê</p>  
		</li> 
	</ul>
</a>