

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/robotobold.eot');
    src: url('../fonts/robotobold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotobold.woff2') format('woff2'),
         url('../fonts/robotobold.woff') format('woff'),
         url('../fonts/robotobold.ttf') format('truetype'),
         url('../fonts/robotobold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/robotoregular.eot');
    src: url('../fonts/robotoregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoregular.woff2') format('woff2'),
         url('../fonts/robotoregular.woff') format('woff'),
         url('../fonts/robotoregular.ttf') format('truetype'),
         url('../fonts/robotoregular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/robotothin.eot');
    src: url('../fonts/robotothin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotothin.woff2') format('woff2'),
         url('../fonts/robotothin.woff') format('woff'),
         url('../fonts/robotothin.ttf') format('truetype'),
         url('../fonts/robotothin.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**************************************************** RESET ****************************************************/

div, figure, figcaption,main,header, img, h1,h2,h3,h4,h5,h6, ul, li,p,article,body,a{
	margin: 0px;
	padding: 0px;
	border:0px;
}

img{
	max-width: 100%;
}

ul img{
	width: 100%;
	max-width: 250px;
}

/**************************************************** ALL ****************************************************/

.container{
	padding: 60px 60px 0 60px;
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

header{
	float: left;
	width: 100%;
	padding: 60px 0px;
	background-color: #008c8d;
}

.footer{
	clear: both;
	background-color: #008c8d;
	height: 106px;
	margin-top: 10px;
}

/**************************************************** Titulo e paragrafo ****************************************************/

h2{
	width: 100%;
	color: #008C8C;
	font-size: 32px;
	margin-bottom: 12px;
	font-family: 'robotobold';
}

h1{
	color: #ffffff;
	font-size: 60px;
	text-align: center;
	font-weight: normal;
	font-family: 'robotothin';
}

h1 a { 
	color: #ffffff;
	text-decoration: none;
}

.title{
	clear: both;
	color: #008C8C;
	font-size: 63px;
	line-height: 100%;
	padding-top: 40px;
	font-weight: normal;
	padding-bottom: 25px;
	font-family: 'robotothin';
}

p{
	font-family: 'robotoregular';
	font-size: 15px;
	color: #666666;
	width: 100%;
}

/**************************************************** Main ****************************************************/

main {
	float: left;
	width: 100%;
}

main figure{
	float: left;
	max-width: 53%;
	position: relative;
	padding-right: 35px;
	box-sizing: border-box;
}

main figure figcaption{
	position: absolute;
	visibility: hidden;
}

main figure img {
	float: left;
}

main .produto {
	float: left;
	width: 100%;
}

main .produto .details {
    width: 46%;
    float: right;
}

main .produto .details p {
	font-size: 18px;
}

main .produto .details  ul{
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
}

main .produto .details  ul li{
	width: 33%;
	float: left;
	padding: 0 1%;
	list-style: none;
	box-sizing: border-box;
}

main .produto .details  ul li img {
	cursor: pointer;
}

main .produto .details  ul li:first-child {
	padding-left: 0;
	padding-right: 2%;
}

main .produto .details  ul li:last-child {
	padding-left: 2%;
	padding-right: 0;
}

/**************************************************** Btn Defualt ****************************************************/

a.btn {
	width: 100%;
	float: left;
	color: #ffffff;
	font-size: 40px;
	line-height: 90px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: 'robotobold';
	background-color: #D43D5E;
}

.vejaOutros a.btn {
	font-size: 15px;
	padding: 9px 2px;
    line-height: 100%;
    box-sizing: border-box;
}

/**************************************************** VEJA OUTROS ****************************************************/

.vejaOutros {
	float: left;
	width: 100%;
	margin-top: 125px;
}

.vejaOutros h3{
	width: 100%;
	color: #666666;
	font-size: 20px;
	min-height: 50px;
	line-height: 120%;
	text-align: center;
	font-weight: normal;
	padding-bottom: 5px;
	font-family: 'robotoregular';
}

.vejaOutros h3 a {
	color: #666666;
	text-decoration: none;
}

.vejaOutros p.title, .vejaOutrosFacebook p.title {
	color: #008C8C;
	font-size: 63px;
	font-weight: 100;
	padding: 15px 0px;
	text-align: center;
	margin: 0 0px 50px;
	border-top: solid 1px #008C8C;
	border-bottom: solid 1px #008C8C;
}

.vejaOutros ul{
	float: left;
	width: 100%;
}

.vejaOutros  ul li{
	width: 25%;
	float: left;
	padding: 0 1%;
	display: block;
	margin-bottom: 75px;
	box-sizing: border-box;
}

.vejaOutros  ul li img {
	float: left;
	margin-bottom: 5px;
}

.vejaOutros ul li:first-child, .vejaOutros ul li:nth-child(4n+1) {
	padding-right: 2%;
	padding-left: 0;
}

.vejaOutros ul li:nth-child(4n) {
	padding-right: 0;
	padding-left: 2%;
}

.vejaOutros ul li:nth-child(4n+1) {
	clear: both;
}

/**************************************************** DEPOIMENTOS ****************************************************/

.vejaOutrosFacebook {
	float: left;
	width: 100%;
	margin: 30px 0;
}

.vejaOutrosFacebook p.title {
	color: #008C8C;
	font-size: 63px;
	font-weight: 100;
	padding: 15px 0px;
	text-align: center;
	margin: 0 0px 50px;
	border-top: solid 1px #008C8C;
	border-bottom: solid 1px #008C8C;
}

.vejaOutrosFacebook ul{
	float: left;
	width: 100%;
	background: #F0F0F0;
	padding: 20px;
	box-sizing: border-box;
}

.vejaOutrosFacebook  ul li{
	width: 100%;
	float: left;
	display: block;
	position: relative;
	margin-top: 40px;
	box-sizing: border-box;
}

.vejaOutrosFacebook  ul li:first-child{
	margin-top: 0;
}

.vejaOutrosFacebook  ul li .imgFacebook {
	top: 0;
	left: 0;
	float: left;
	width: 50px;
	position: absolute;
}

.vejaOutrosFacebook  ul li .profileInfo {
	float: left;
	width: 30%;
	padding: 0 30px 0 80px;
	box-sizing: border-box;
}

.vejaOutrosFacebook  ul li .conteudo {
	float: left;
	font-size: 14px;
	color: #666666;
	font-family: "robotoregular";
	width: 70%;
}

.vejaOutrosFacebook  ul li .profileInfo .name {
	float: left;
	width: 100%;
	color: #385198;
	font-size: 16px;
	font-weight: normal;
	font-family: 'robotobold';
}

.vejaOutrosFacebook  ul li .profileInfo .name a {
	color: #385198;
	text-decoration: none;
}

.vejaOutrosFacebook  ul li .profileInfo .data {
	float: left;
	width: 100%;
	font-family: "robotoregular";
	font-size: 12px;
	color: #666666;
}

.vejaOutrosFacebook  ul li .profileInfo .data a {
	color: #666666;
	text-decoration: none;
}

/**************************************************** RESPONSIVO ****************************************************/

@media screen and (max-width: 1025px) {
	a.btn {
		font-size: 32px;
	}
}

@media screen and (max-width: 850px) {

	header {
		padding: 40px 0;
	}

	.container {
		padding: 40px 20px 0 20px;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 28px;
	}

	.title {
		font-size: 58px;
	}

	a.btn {
		font-size: 28px;
		line-height: 70px;
	}

	main .produto .details ul {
		margin: 30px 0;
	}

	main figure {
		width: 100%;
		max-width: 100%;
		padding-right: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	main figure img {
		float: none;
	}

	main .produto .details {
		float: left;
		width: 100%;
	}

	.vejaOutros {
		margin-top: 50px;
	}

	.vejaOutros p.title {
		font-size: 50px;
	}

	.vejaOutros h3 {
		font-size: 16px;
	}

	.vejaOutros ul li {
		width: 33.33%;
	}

	.vejaOutros ul li:first-child, .vejaOutros ul li:nth-child(4n+1) {
		padding-right: 2%;
		padding-left: 0;
	}

	.vejaOutros ul li:nth-child(3n) {
		padding-right: 0;
		padding-left: 2%;
	}

	.vejaOutros ul li:nth-child(4n+1) {
		clear: none;
	}

	.vejaOutros ul li:nth-child(3n+1){
		clear: both;
		padding-left: 0;
		padding-right: 2%;
	}
}

@media screen and (max-width: 650px) {

	h1, .title, .vejaOutros p.title {
		font-family: 'robotoregular';
	}
	
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 24px;
	}
	
	main figure {
		margin-bottom: 10px;
	}
	
	.container {
		padding: 20px 20px 0 20px;
	}

	a.btn {
		font-size: 22px;
		line-height: 60px;
	}

	.title {
		font-size: 48px;
	}

	.vejaOutros p.title {
		font-size: 40px;
	}

	.vejaOutros h3 {
		font-size: 14px;
	}

	.vejaOutros ul li {
		margin-bottom: 50px;
	}

	.vejaOutros a.btn {
		font-size: 14px;;
	}

}

@media screen and (max-width: 520px) {

	header {
		padding: 20px 0;
	}
	

	h1, .title, .vejaOutros p.title {
		font-size: 30px;
		font-family: 'robotoregular';
	}
	
	main .produto .details ul {
		margin: 30px 0 15px 0;
	}
	
	.title {
		padding-bottom: 10px;
	}

	.vejaOutros ul li {
		width: 50%;
		margin-bottom: 30px;
	}

	.vejaOutros ul li:first-child, .vejaOutros ul li:nth-child(4n+1) {
		padding-right: 2%;
		padding-left: 0;
	}

	.vejaOutros ul li:nth-child(2n) {
		padding-right: 0;
		padding-left: 2%;
	}

	.vejaOutros ul li:nth-child(3n+1) {
		clear: none;
	}

	.vejaOutros ul li:nth-child(2n+1){
		clear: both;
		padding-left: 0;
		padding-right: 2%;
	}

}