﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="adicionafilapagamento.aspx.cs" Inherits="admin_adicionafilapagamento" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox runat="server" id="txtId"></asp:TextBox><br />
        <asp:Button runat="server" id="btn" onclick="btn_onclick" Text="Processar" />
    </div>
    </form>
</body>
</html>
