﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" Async="true" AutoEventWireup="true" CodeFile="atualizarPrazosTNT.aspx.cs" Inherits="admin_atualizarPrazosTNT" %>

<asp:Content ID="Content1" ContentPlaceHolderID="conteudoPrincipal" runat="Server">
    <style type="text/css">
        /* Style the Image Used to Trigger the Modal */
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

            #myImg:hover {
                opacity: 0.7;
            }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            /*width: 80%;*/
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
            font-size: 20px;
            font-weight: bold;
            font-family: Arial;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>
    <table cellpadding="0" cellspacing="0" style="width: 920px">
        <tr>
            <td class="tituloPaginas">
                <asp:Label ID="lblAcao" runat="server">Atualizar Prazos de Entrega</asp:Label>
            </td>
        </tr>
        <tr>
            <td>

                <!-- Trigger the Modal -->
                <div style="font: 10pt Tahoma; width: 735px; margin: 0 auto;">
                    <div style="float: left; padding-top: 7px;">
                        A planilha a ser exportada deve seguir um padrão pré-determinado visualize a estrutura clicando no ponto de interrogação.
                    </div>
                    <img id="myImg" src="images/Question_sign_font_awesome.svg" width="25" alt="Padrão da Planilha" />

                    <label>Transportadora: </label>
                    <asp:DropDownList runat="server" ID="ddlTransportadora">
                        <asp:ListItem Text="Jadlog" Value="13"></asp:ListItem>
                        <asp:ListItem Text="TNT" Value="10"></asp:ListItem>
                        <asp:ListItem Text="Correios" Value="12"></asp:ListItem>
                    </asp:DropDownList>
                    <label>Planilha: </label>
                    <asp:FileUpload runat="server" CssClass="fileUpload" ID="fupPlanilha" />
                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" Display="None"
                        ControlToValidate="fupPlanilha" ErrorMessage="Selecione uma planilha xls ou xlsx!" ValidationGroup="tipoPlanilha">
                    </asp:RequiredFieldValidator>
                    <div>
                        <asp:Button runat="server" ID="btnImportarPlanilhaPrazos" Text="Importar Planilha" OnClick="btnImportarPlanilhaPrazos_OnClick" OnClientClick="return iniciarAtualizacao();" Style="float: right; margin-top: 30px;" />
                    </div>
                </div>


                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01" alt="" />

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
            </td>
        </tr>
    </table>

    <script>

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = "images/exemploPlanilhaPrazos.jpg";
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        function iniciarAtualizacao() {

            return confirm('Será iniciada atualização de prazos da transportadora ' + document.getElementById('<%=ddlTransportadora.ClientID%>').options[document.getElementById('<%=ddlTransportadora.ClientID%>').selectedIndex].text)
        }
    </script>
</asp:Content>

