﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="botaoAdicionarItemPedido.aspx.cs" Inherits="admin_botaoAdicionarItemPedido" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Pedido:&nbsp<asp:TextBox ID="txtpedidoId" runat="server"></asp:TextBox>
        <br/>

        <asp:Button ID="btnAdicionarbotao" runat="server" Text="Adicionar Botão 'Adicionar Item ao Pedido'" OnClick="btnAdicionarbotao_Click" />
    </div>
    </form>
</body>
</html>
