﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="buscaTeste.aspx.cs" Inherits="admin_buscaTeste" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:GridView ID="GridView1" runat="server"></asp:GridView>
    </div>
    </form>
</body>
</html>
