﻿<%@ Page Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="condicoesDePagamento.aspx.cs" Inherits="admin_condicoesDePagamento" Theme="Glass" MaintainScrollPositionOnPostback=true %>
<%@ Register assembly="DevExpress.Web.ASPxGridView.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView" tagprefix="dxwgv" %>
<%@ Register assembly="DevExpress.Web.ASPxEditors.v11.1, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxEditors" tagprefix="dxe" %>
<%@ Register assembly="DevExpress.Web.ASPxGridView.v11.1.Export, Version=11.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView.Export" tagprefix="dxwgv" %>
<asp:Content ID="Content1" ContentPlaceHolderID="conteudoPrincipal" Runat="Server">
    <table cellpadding="0" cellspacing="0" style="width: 920px">
    <tr>
        <td class="tituloPaginas" valign="top">
            <asp:Label ID="lblAcao" runat="server">Condições de pagamento</asp:Label>
        </td>
    </tr>
    <tr>
        <td>
            
    <table align="center" cellpadding="0" cellspacing="0" style="width: 834px">
        <tr>
            <td align="right">
                <table cellpadding="0" cellspacing="0" style="width: 834px">
                    <tr>
                        <td align="right">
                            &nbsp;</td>
                        <td height="38" 
                            style="background-image: url('images/bkExportar.jpg'); padding-bottom: 1px;" 
                            valign="bottom" width="231">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width: 97px">
                                        &nbsp;</td>
                                    <td style="width: 33px">
                                        <asp:ImageButton ID="btPdf" runat="server" ImageUrl="~/admin/images/btPdf.jpg" 
                                            style="margin-left: 5px" />
                                    </td>
                                    <td style="width: 31px">
                                        <asp:ImageButton ID="btXsl" runat="server" ImageUrl="~/admin/images/btXls.jpg" 
                                            style="margin-left: 5px" />
                                    </td>
                                    <td style="width: 36px">
                                        <asp:ImageButton ID="btRtf" runat="server" ImageUrl="~/admin/images/btRtf.jpg" 
                                            style="margin-left: 5px" />
                                    </td>
                                    <td valign="bottom">
                                        <asp:ImageButton ID="btCsv" runat="server" ImageUrl="~/admin/images/btCsv.jpg" 
                                            style="margin-left: 5px" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <dxwgv:aspxgridview ID="grd" runat="server" AutoGenerateColumns="False" 
                    DataSourceID="sqlCondicoesDePagamento" KeyFieldName="condicaoId" Width="834px" 
                    Cursor="auto" onhtmlrowcreated="grd_HtmlRowCreated" 
                    EnableCallBacks="False" onrowupdating="grd_RowUpdating">
                    <SettingsBehavior AutoFilterRowInputDelay="3200" ConfirmDelete="True" />
                    <SettingsText ConfirmDelete="Tem certeza que deseja excluir?" 
                        emptydatarow="Nenhum registro encontrado." />
                    <SettingsPager Position="TopAndBottom" PageSize="50" 
                        ShowDisabledButtons="False" AlwaysShowPager="True">
                        <Summary AllPagesText="Páginas: {0} - {1} ({2} items)" 
                            Text="Página {0} de {1} ({2} registros encontrados)" />
                    </SettingsPager>
                    <settings showfilterrow="True" ShowGroupButtons="False" />
                    <SettingsEditing EditFormColumnCount="4" 
                        PopupEditFormHorizontalAlign="WindowCenter" PopupEditFormHorizontalOffset="-1" 
                        PopupEditFormModal="True" PopupEditFormVerticalAlign="WindowCenter" 
                        PopupEditFormWidth="700px" Mode="Inline" />
                    <Columns>
                        <dxwgv:GridViewDataTextColumn Caption="ID da condição" 
                            FieldName="condicaoId" ReadOnly="True" VisibleIndex="0">
                            <Settings AutoFilterCondition="Contains" />
                            <editformsettings visible="False" CaptionLocation="Top" ColumnSpan="2" />
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataTextColumn Caption="Nome" FieldName="condicaoNome" 
                            VisibleIndex="1" Width="500px">
                            <PropertiesTextEdit>
                                
<ValidationSettings ErrorText="" SetFocusOnError="True">
                                    <RequiredField ErrorText="Preencha o campo nome." IsRequired="True" />
                                </ValidationSettings>
                            
</PropertiesTextEdit>
                            <Settings AutoFilterCondition="Contains" />
                            <editformsettings captionlocation="Top" columnspan="2" visible="True" 
                                VisibleIndex="1" />
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataTextColumn Caption="Num. máx de parc." 
                            FieldName="numeroMaximoDeParcelas" VisibleIndex="2">
                            <PropertiesTextEdit>
                                
<ValidationSettings>
                                    <RegularExpression ErrorText="Preencha apenas com números" 
                                        ValidationExpression="^[0-9]+$" />
                                    <RequiredField ErrorText="Preencha o número de parcelas." IsRequired="True" />
                                </ValidationSettings>
                            
</PropertiesTextEdit>
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataTextColumn Caption="Parc. sem juros" 
                            FieldName="parcelasSemJuros" VisibleIndex="3">
                            <PropertiesTextEdit>
                                
<ValidationSettings>
                                    <RegularExpression ErrorText="Preencha apenas com números" 
                                        ValidationExpression="^[0-9]+$" />
                                    <RequiredField ErrorText="Preencha a quantidade de parcelas sem juros." 
                                        IsRequired="True" />
                                </ValidationSettings>
                            
</PropertiesTextEdit>
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataTextColumn Caption="Juros %" FieldName="taxaDeJuros" 
                            VisibleIndex="4">
                            <PropertiesTextEdit>
                                
<ValidationSettings>
                                    <RegularExpression ErrorText="Preencha apenas com números, virgula ou ponto." 
                                        ValidationExpression="^[\-]{0,1}[0-9]{1,}(([\.\,]{0,1}[0-9]{1,})|([0-9]{0,}))$" />
                                    <RequiredField ErrorText="Preencha a taxa de juros" IsRequired="True" />
                                </ValidationSettings>
                            
</PropertiesTextEdit>
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataTextColumn Caption="Valor mín. da parc." 
                            FieldName="valorMinimoDaParcela" VisibleIndex="5">
                            <PropertiesTextEdit DisplayFormatString="C">
                            </PropertiesTextEdit>
                            <EditItemTemplate>
                                <asp:TextBox ID="txtValorMinimoDaParcela" runat="server" CssClass="campos" 
                                    Text='<%# Eval("valorMinimoDaParcela", "{0:c}").Replace("R$","") %>' Width="100%"></asp:TextBox>
                            </EditItemTemplate>
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataTextColumn Caption="Desc. a vista %" 
                            FieldName="porcentagemDeDesconto" VisibleIndex="6">
                            <PropertiesTextEdit>
                                
<ValidationSettings>
                                    <RegularExpression ErrorText="Preencha apenas com números, virgula ou ponto." 
                                        ValidationExpression="^[\-]{0,1}[0-9]{1,}(([\.\,]{0,1}[0-9]{1,})|([0-9]{0,}))$" />
                                    <RequiredField ErrorText="Preencha o desconto a vista." IsRequired="True" />
                                </ValidationSettings>
                            
</PropertiesTextEdit>
                        </dxwgv:GridViewDataTextColumn>
                        <dxwgv:GridViewDataCheckColumn Caption="Destaque" FieldName="destaque" 
                            VisibleIndex="7">
                            <Settings AllowAutoFilter="False" />
                        </dxwgv:GridViewDataCheckColumn>
                        <dxwgv:GridViewDataCheckColumn Caption="Ativo" FieldName="ativo" 
                            VisibleIndex="8">
                            <Settings AllowAutoFilter="False" />
                        </dxwgv:GridViewDataCheckColumn>
                        <dxwgv:GridViewCommandColumn VisibleIndex="9" Width="90px" ButtonType="Image">
                            <editbutton visible="True" Text="Editar">
                                <Image Url="~/admin/images/btEditar.jpg" />
                            </editbutton>
                            <NewButton Text="Novo">
                                <Image Url="~/admin/images/btNovo.jpg" />
                            </NewButton>
                            <deletebutton Text="Excluir">
                                <Image Url="~/admin/images/btExcluir.jpg" />
                            </deletebutton>
                            <CancelButton Text="Cancelar">
                                <Image Url="~/admin/images/btCancelarIcon.jpg" />
                            </CancelButton>
                            <UpdateButton>
                                <Image Url="~/admin/images/btSalvarIcon.jpg" />
                            </UpdateButton>
                            <ClearFilterButton Visible="True" Text="Limpar filtro">
                                <Image Url="~/admin/images/btLimparFiltro.jpg" />
                            </ClearFilterButton>
                            <HeaderTemplate>
                                <img alt="" src="images/legendaEditar.jpg" />
                            </HeaderTemplate>
                        </dxwgv:GridViewCommandColumn>
                    </Columns>
                    <StylesEditors>
                        <Label Font-Bold="True">
                        </Label>
                    </StylesEditors>
                </dxwgv:aspxgridview>
<%--                <dxwgv:aspxgridviewexporter ID="grdEx" runat="server" FileName="fornecedores" 
                    GridViewID="grd" Landscape="True" PreserveGroupRowStates="True">
                </dxwgv:aspxgridviewexporter>--%>
                <asp:ObjectDataSource ID="sqlCondicoesDePagamento" runat="server" 
                    SelectMethod="condicaoDePagamentoSelecionaAdmin" TypeName="rnCondicoesDePagamento" 
                    UpdateMethod="condicaoDePagamentoAltera">
                    <UpdateParameters>
                        <asp:Parameter Name="numeroMaximoDeParcelas" Type="Int32" />
                        <asp:Parameter Name="parcelasSemJuros" Type="Int32" />
                        <asp:Parameter Name="taxaDeJuros" Type="Double" />
                        <asp:Parameter Name="valorMinimoDaParcela" Type="Double" />
                        <asp:Parameter Name="porcentagemDeDesconto" Type="Double" />
                        <asp:Parameter Name="ativo" Type="String" />
                        <asp:Parameter Name="condicaoNome" Type="String" />
                        <asp:Parameter Name="destaque" Type="String" />
                        <asp:Parameter Name="condicaoId" Type="Int32" />
                    </UpdateParameters>
                </asp:ObjectDataSource>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
    </table>
        </td>
    </tr>
</table>
    </asp:Content>
