﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="etiquetasCDDivergente.aspx.cs" Inherits="admin_etiquetasCDDivergente" %>

<asp:Content ID="Content1" ContentPlaceHolderID="conteudoPrincipal" Runat="Server">
    <asp:GridView ID="GridView1" runat="server"></asp:GridView><br />
    <asp:Label ID="lblqtd" runat="server" Text="Label"></asp:Label>
</asp:Content>

