﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="mlChecaPedidos.aspx.cs" Inherits="admin_mlChecaPedidos" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button runat="server" ID="btnChecar" OnClick="btnChecar_OnClick"/>
    </div>
    </form>
</body>
</html>
