﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="pedidoRemanejarEncomendas.aspx.cs" Inherits="admin_pedidoRemanejarEncomendas" %>

<asp:Content ID="Content1" ContentPlaceHolderID="conteudoPrincipal" Runat="Server">
    <asp:Literal runat="server" ID="litRetorno"></asp:Literal>
</asp:Content>

