﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="relatorioClientesComCompras.aspx.cs" Inherits="admin_relatorioClientesComCompras" %>

<asp:Content ID="Content1" ContentPlaceHolderID="conteudoPrincipal" Runat="Server">
    <table cellpadding="0" cellspacing="0" style="width: 920px">
        <tr>
            <td class="tituloPaginas" valign="top">
                <asp:Label ID="lblAcao" runat="server">Relatório de Clientes com Compras Únicas</asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" style="width: 834px">
                    <tr>
                        <td>
                            Relatório para criação de retargeting
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Button runat="server" ID="btnBaixarArquivos" OnClick="btnBaixarArquivos_OnClick" Text="Gerar Listas"/>
                        </td>
                    </tr>
<%--                    <tr>
                        <td>
                            <asp:Button runat="server" ID="btnBaixarArquivos2" OnClick="btnBaixarArquivos2_OnClick" Text="Gerar Compras"/>
                        </td>
                    </tr>--%>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>

