﻿.selectedProducts {
    list-style: none;
    padding: 0px;
}

    .selectedProducts input[type=button] {
        background-color: #41697E;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        border: 0px;
    }

    .selectedProducts li {
        margin-bottom: 5px;
        font-size: 14px;
    }

        .selectedProducts li:nth-child(odd) {
            background-color: #eef8f9;
        }

.produto-box {
    vertical-align: top;
    background-color: #ececec;
    padding: 6px;
    border: solid 1px #cacaca;
}

    .produto-box.alert-mini {
        font-size: 10px;
        color: #ff1a00;
    }
