﻿.selectedCategories {
    list-style: none;
    padding: 0px;
}

    .selectedCategories input[type=button] {
        background-color: #41697E;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        border: 0px;
    }

    .selectedCategories li {
        margin-bottom: 5px;
        font-size: 14px;
    }

        .selectedCategories li:nth-child(odd) {
            background-color: #eef8f9;
        }

.categoria-box {
    vertical-align: top;
    background-color: #ececec;
    padding: 6px;
    border: solid 1px #cacaca;
}

.categoria-box .alert-mini {
    font-size: 10px;
    color: #ff1a00;
}
