﻿body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'georgia-italic';
    src: url('../../fonts/Georgia-Italic.eot');
    src: url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'), url('../../fonts/Georgia-Italic.woff') format('woff'), url('../../fonts/Georgia-Italic.ttf') format('truetype'), url('../../fonts/Georgia-Italic.svg#proxima-nova-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-bold-webfont.woff') format('woff'), url('../../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../../fonts/roboto-bold-webfont.svg#proxima-nova-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-regular-webfont.woff') format('woff'), url('../../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo300';
    src: url('../../fonts/museo300-regular-webfont.woff2') format('woff2'), url('../../fonts/museo300-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('../../fonts/museo700-regular-webfont.woff2') format('woff2'), url('../../fonts/museo700-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova";
    src: url('../../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url('../../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/MyriadPro-Regular.woff') format('woff'), url('../../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../../fonts/MyriadPro-Regular.svg#proxima-nova-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/rBHvpRWBkgyW99dXT88n7yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


.boxInfo {
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    width: 100%;
    height: 245px;
    background: #ffffff;
    box-sizing: border-box;
    /*padding: 45px 35px 30px 0px;*/
    position: relative;
}

    .boxInfo .bloco-flutuante{
        padding: 15px;
        background: #ffffff;
        border: solid 3px #eaeaea;
        position: relative;
        top: -25px;
        box-sizing: border-box;
        width: 704px;
        height: 175px;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
    }
        .boxInfo .bloco-flutuante .bloco-conteudo{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: block;
            border: solid 1px #eaeaea;
        }

.postPadrao {
    float: left;
    width: 800px;
    /*height: 1045px;*/
    position: relative;
}

.postPadrao #imgFoto{
    position: relative;
}

p {
    margin: 0;
    padding: 0;
    float: left;
    line-height: 100%;
}

.exclusivo {
    color: #818181;
    font-size: 33.86px;
    position: absolute;
}

.preco {
    float: right;
    display: none;
    line-height: 100%;
    text-align: right;
}

.showBoleto .Avista {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 35px;
}

.showParcelado .precoParcelado {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 35px;
}

.showDePor .precoDePor {
    display: block;
    margin: 0;
    width: 100%;
}
    .precoDePor .moeda, .precoDePor .minText, .precoDePor .moedaTopo {
        float: none;
    }

    .precoDePor .padrao{
        text-align: left;
        display: table;
        margin: 20px auto 0;
    }

        .precoDePor .padrao .de{
            display: inline;
            position: relative;
            margin-right: 15px;
            
        }        
            .precoDePor .padrao .de span{
                color: #bababa;
                font-size: 50px;
            }

            .precoDePor .padrao .de .minText{
                float: none;
                display: block;
                font-size: 30px;
            }

            .precoDePor .padrao .de .rs{
                font-size: 38px;
            }

    
        .precoDePor .padrao .por{
            display: inline;
            position: relative;
            margin-left: 15px;
        }
            .precoDePor .padrao .por .minText{
                float: none;
                display: block;
                font-size: 30px;
            }

            .precoDePor .padrao .por .valorInteiro{
                font-size: 90px;
            }
            
            .precoDePor .padrao .por span{
                line-height: 56%;
            }


.preco .moeda {
    font-size: 38px;
    /*font-family: 'proxima-nova';*/
}


.preco .moedaTopo {
    position: relative;
    bottom: 40px;
    /*right: 5px;*/
    font-size: 56px;
    top: -27px;
}

/*.preco .minText {
    font-size: 16px;
}*/

.preco .mediumText {
    font-size: 20px;
}

/*.preco.Avista .padrao {
    font-size: 60px;
    right: 50px;
}*/


.preco .textBoleto {
    font-size: 22px;
    position: absolute;
    width: 70px;
    right: -2px;
    bottom: 0px;
    color: #bababa !important;
}

.preco span {
    color: #7c7c7c;
    line-height: 100%;
    font-size: 37px;
    font-family: 'georgia-italic';
}

    .preco span.padrao {
        color: #7c7c7c;
        position: relative;
    }

        .preco span.apenas{
            position: absolute;
            font-size: 21px;
            top: -45px;
        }
        .preco.precoParcelado span.apenas{
            top: -21px;
        }

        .preco span.padrao span{
            color: #7c7c7c;
        }
        .preco span.padrao span.valorInteiro{
            font-size: 90px;
        }

        .preco span.padrao .text-after{
            right: -92px;
            bottom: 17px;
            color: #888888;
            font-size: 16px;
        }


    .preco span.light {
        color: #e8466e;
        font-size: 25px;
        line-height: 50px;
        font-family: 'robotoregular';
    }

.cutLine {
    text-decoration: line-through;
}

.porcentagem {
    left: 50px;
    top: 35px;
    color: #ffffff;
    line-height: 100%;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    background: #000000;
    border-radius: 34px;
    width: 67px;
    height: 67px;
    z-index: 10000000000;
}

    .porcentagem .center {
        text-align: center;
        width: 100%;
        margin-top: 19px;
    }

    .porcentagem .porcento {
        font-size: 24px;
        position: relative;
        font-family: 'proxima-Nova-bold';
    }

    .porcentagem span {
        line-height: 70%;
        font-size: 24px;
        font-family: 'proxima-Nova-bold';
    }

    .porcentagem .lower {
        padding-top: 5px;
        font-family: 'georgia-italic';
        font-size: 18px;
        width: 100%;
        clear: both;
        position: relative;
        top: 2px;
        left: 0;
        right: 0;
        display: block;
    }

.logoGrao {
    position: absolute;
    background: no-repeat;
    top: 35px;
    right: 70px;
    width: 137px;
    height: 74px;
    z-index: 1000000000;
}

#divTarjaExclusivo {
    float: left;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 0;
    left: 25%;
    width: 800px;
    height: 150%;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.bgAnuncio {
    width: 800px;
    height: 1045px;
}

.blocoLeft, .blocoRight {
    float: left;
    text-align: center;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.blocoLeft {
    width: 488px;
}

.blocoRight {
    width: 312px;
    padding-top: 99px;
    color: #ffffff;
}

.blocoLeft div.tarja {
    content: "";
    position: absolute;
    left: 30px;
    top: 182px;
    z-index: 20;
}

.blocoLeft div.tarja img{
    float: left;
}

.titulo {
    margin-top: 25px;
    margin-bottom: 30px;
}

.blocoLeft img {
    margin-bottom: 25px;
}

    .blocoLeft img.produto {
        float: left;
    }


h1 {
    font-family: "Museo500";
    font-size: 34px;
    color: #ffffff;
    margin: 0 30px;
    margin-bottom: 40px;
}

.desconto div.balao {
    width: 199px;
    height: 197px;
    left: 65px;
    top: -180px;
    float: left;
}

.desconto span {
    position: relative;
    z-index: 2;
}

.blocoRight p {
    font-family: "Roboto-Italic";
    color: #FFF;
    font-size: 31px;
    margin: 0 0 13px;
}

    .blocoRight p.boleto {
        font-size: 21px;
    }

.boleto {
    font-size: 21px;
    width: 100%;
}

/* tamanho normal */
.desconto {
    font-family: "Museo900";
    font-size: 19px;
    color: #ffffff;
    margin-left: 60px;
    box-sizing: border-box;
    background: transparent;
    padding-top: 21px;
    border-radius: 50%;
    border: solid 10px #fff;
    width: 204px;
    height: 204px;
    text-align: center;
    margin-bottom: 15px;
}


    .desconto .porcento {
        font-size: 118px;
        font-family: "proxima-nova-bold";
    }

    .desconto .sinal {
        font-size: 47px;
        position: absolute;
        top: 8px;
        font-family: "proxima-nova";
        right: 14px;
    }

    .desconto .texto {
        font-family: "proxima-nova";
        font-size: 51px;
        float: left;
        width: 100%;
        text-align: center;
        margin-top: -20px;
    }

.pagamento, .avista {
    clear: both;
    max-width: 310px;
    padding: 0 38px;
    box-sizing: border-box;
    display: inline-flex;
}

.pagamento{
    margin-top: 25px;
}

.flutua {
    float: left;
    margin-right: -4px;
    padding-top: 32px;
}

.vezes {
    font-family: "Roboto-bold-Italic";
    font-size: 33px;
    bottom: 13px;
    position: relative;
    right: 4px;
}

.pagamento .rs, .parcela span {
    font-family: "proxima-nova";
    /*font-size: 37px;*/
    font-size: 20px;
    position: absolute;
}

.avista{
    margin-top: 10px;
    position: relative;
    left: 14px;
}
    .avista .rs {
        position: absolute;
        bottom: 10px;
        left: 18px;
    }
    .avista .parcela {
        font-size: 60px;
    }


.parcela {
    font-family: "proxima-nova-extrabold";
    font-size: 103px;
    float: left;
    position: relative;
}

    .parcela span {
        top: 15px;
        right: -28px;
    }

.pagamento .parcela span{
    right: -20px;
}


/*  outros tamanhos */

/* Pequeno */
/* Selo desconto */
.desconto.pp {
    top: -135px;
    text-align: center;
    padding-right: 0;
}

    .desconto.pp:after {
        top: -135px;
    }

    .desconto.pp .porcento {
        font-size: 80px;
    }

    .desconto.pp .sinal {
        font-size: 48px;
        top: -13px;
        left: 0px;
    }

    .desconto.pp .texto {
        bottom: 12px;
        right: 0;
    }

/* Pagamento */
.pagamento.pp{
    margin-top: 10px;
    margin-bottom: 35px;
}

.pagamento.pp .parcela {
    font-size: 87px;
}

.pagamento.pp .vezes {
    font-size: 19px;
    bottom: 10px;
    right: -9px;
}

.pagamento.pp .flutua {
    margin-right: 10px;
    padding-top: 36px;
}

.pagamento.pp .rs {
    font-size: 17px;
}

.pagamento.pp .parcela span {
    right: -34px;
}

/* Preço a vista */
.avista.pp .parcela {
    font-size: 50px;
}

    .avista.pp .parcela span {
        top: 3px;
    }

.avista.pp .rs {
    font-size: 14px;
}

.avista.pp {
    margin: 0 0 22px;
}


/* ---------------------- */
/* Grande */
/* Pagamento */
.pagamento.gg {
    margin-top: -25px;
    margin-bottom: 20px;
}

    .pagamento.gg .parcela {
        top: 25px;
        font-size: 136px;
    }

        .pagamento.gg .parcela span {
            font-size: 24px;
        }

    .pagamento.gg .flutua {
        padding-top: 83px;
    }

/* Preço a vista */
.avista.gg{
    margin-top: -10px;
}

.avista.gg .parcela {
    font-size: 103px;
}

    .avista.gg .parcela p{
        margin-top: -10px;
    }

    .avista.gg .parcela span {
        right: -27px;
    }

.avista.gg .rs {
    bottom: -66px;
}

.paddingBottomTd {
    padding-bottom: 5px;
}


.blocoPorcento{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    float: left;
}

.div{
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
}

/**/
.promocaoTempoLimitado{
    position: relative !important;
}



/*  Post Padrão */
/*  #painel1  */
/*#panel1 .precoDePor .padrao span{
    float: none;
}

#panel1 .precoDePor span{
    color: #888888;
    font-family: 'proxima-nova';
    font-size: 24px;
}

#panel1 .precoDePor .cutLine{
    font-size: 48px;
    line-height: inherit;
    margin-bottom: 26px;
    margin-left: 3px;
}

#panel1 .precoDePor{
    font-size: 24px;
    position: relative;
}

#panel1 .precoDePor .padrao span{
    color: #e8466e !important;
    font-size: 39.66px;

}

#panel1 .precoDePor .padrao span.moedaTopo,#panel1 .precoDePor .padrao span.valorInteiro{
    font-size: 79.33px;
    padding-top:0px;
    font-family: 'proxima-nova-bold';    
}

#panel1 .precoDePor .padrao span.light{
    font-size: 17px;
    color: #888888 !important;
    margin-right: 5px;
}

#panel1 .precoDePor .padrao span.moedaTopo{
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 37px;
}
.preco.Avista .padrao{
    font-size: 79.33px;
    font-family: 'proxima-nova-bold';
}
    .preco.Avista .padrao .moeda{
        font-size: 39.66px;
        font-family: 'proxima-nova';
    }

    .preco.Avista .padrao .minText.textBoleto{
        position: absolute;
        right: -92px;
        bottom: 17px;
        color: #888888;
        font-family: 'proxima-nova';
    }
    
    .preco.Avista{
     margin-top: 20px;
    }

    .preco.Avista .moedaTopo{
        top: 5px;
        right: -54px;
    }
*/
.rodape{
    margin: 12px auto 0;
    width: 491px;
    height: 21px;
    display: block;
    background: url(../../imagens/rodape-1.png) no-repeat;
    position: relative;
}

#ctl00_conteudoPrincipal_pnlListaFotos input{
    width: 300px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#ctl00_conteudoPrincipal_pnlListaFotos input:checked + label:after{
    border-bottom: solid 5px #4c87b3;
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
}
#ctl00_conteudoPrincipal_pnlListaFotos .rbt_img{
    position: relative;
    overflow: hidden;
}
i{
    font-style: normal;
}

.instagram.boxInfo{
    height: 149px;
    bottom: 149px;
}



/*=========================================== */
/* BLACK FRIDAY */
/*.instagram{
    height: 194px;
    padding-top: 17px;
    top: -194px;
}
.facebook{
    height: 312px;
    padding-top: 37px;
}*/
/*//////////////////////*/
/*.boxInfo{
    background: #cc3780;
    width: 804px;
    margin-left: -2px;
}
.boxInfo .bloco-flutuante{
    top: 0;
    border: none;
    background: #cc3780;
    width: 50%;
    left: initial;
    float: right;
    position: initial;
    padding: 0;
    margin-top: 24px;
}
.postPadrao{
    background: #cc3780;
}
.showParcelado .precoParcelado{
    padding-top: 27px;
}
.boxInfo .bloco-flutuante .bloco-conteudo{
    border: none;
    background: url('../images/tag-preco.png') right no-repeat;
    height: 197px;
    padding-top: 11px;
}

.rodape{
    right: initial;
    float: left;
    width: initial;
    top: 0;
    margin-top: 0;
    margin-left: 30px;
}

.porcentagem{
    width: 120px;
    height: 100px;
    border: none;
    border-radius: 0;
    right: 40px;
    left: initial;
}
.porcentagem span{
    font-family: "proxima-nova-bold";
    font-size: 66.64px;
    letter-spacing: -1px;
}

.porcentagem .porcento{
    font-size: 43px;
    top: -8px;
}
.porcentagem .center{
    margin-top: 12px;
}

.porcentagem .lower{
    font-size: 37px;
    font-family: 'robotoregular';
    text-transform: uppercase;
}

.preco span.padrao {
    max-width: 244px;
    float: right;
    text-align: left;
}*/
/*padding-right: 20px;*/

/*.preco span.padrao .apenas{
    color: #2e4c77;
    text-align: left;
    font-size: 34px;
    font-family: "proxima-nova-bold";
    float: none;
    position: initial;
    display: block;
    padding-left: 30px;
}
.preco span.padrao span.valorInteiro{
    color: #ffffff;
    float: left;
    width: 100%;
}
.preco span.padrao span{
    color: #ffffff;
    font-size: 26px;
    font-family: robotoregular;
}

.preco span.padrao span.parcelas{
    color: #2e4c77;
    font-family: 'robotoregular';
    font-size: 30.58px;
    float: left;
    display: block;
    width: 100%;
    padding-left: 42px;
}
.preco span.padrao span.valorInteiro, .preco span.padrao span.moedaTopo{
    width: auto;
    font-size: 51px;
    bottom: initial;
    top: initial;
    font-family: "proxima-nova-bold";
    font-size: 51px;
}
.preco span.padrao span.textBoleto{
    float: left;
    position: initial;
    width: 100%;
    color:#2e4c77 !important;
}
.logoGrao{
    display: none !important;
}

.precoDePor .padrao .por, .precoDePor .padrao .de{
    float: right;
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 0;
}
.precoDePor .padrao .de{
    margin-top: 31px;
    margin-right: 0;
}

.preco.precoDePor .padrao .de .minText{
    display: initial !important;
    padding-right: 3px;
    text-transform: lowercase;
    font-size: 25px;
    font-family: robotoregular;
}
.precoDePor .padrao .de span{
    color: #2e4c77;
    font-size: 25px;
    font-family: robotoregular;
}

.preco.precoDePor .padrao .por .minText{
    text-transform: lowercase;
    position: relative;
    top: 3px;
    font-family: robotoregular;
    font-size: 22px;
}
.precoDePor .padrao .por .valorInteiro,.precoDePor .padrao .por span{
    color: #ffffff;
    font-size: 51.71px;
    font-family: "proxima-nova-bold";   
    top: 0;
}

.precoDePor .padrao .por span.textBoleto{
    display: none;
}
.precoDePor .padrao .por .moeda.none{
    font-size: 22px;
    margin-left: 5px;
    margin-right: 10px;
    font-family: robotoregular;
}
.precoDePor .padrao .de .rs{
    font-size: 25px;
    font-family: robotoregular;
    margin: 0 3px 0 1px;
}

.cutLine{text-decoration:none;}

#img-selo{
    width: 276px;
    height: 244px;
    background: url(../images/selo-decor-monday.png) no-repeat;
}

.boxInfo .selo-bf{
    display: none
}

.boxInfo.comSeloBf .selo-bf{
    display: block;
}

.boxInfo .selo-bf{
    text-align: center;
    width: 100%;
    background: #ec2b01;
    float: left;
    box-sizing: border-box;
    position: relative;
    height: 63px;
}

.boxInfo .selo-bf img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
}*/

/* facebook */
    /*.facebook.boxInfo .selo-bf{
        margin-top: 8px;
    }

    .facebook.boxInfo.comSeloBf{
        padding-top: 40px;
    }
    .facebook.boxInfo .selo-bf{
        height: 77px;
    }*/

/* instagram */
   /* .instagram i{
        position: static;
        width: auto;
        margin: auto;
        display: table;
        right: 0;
        left: 0;
    }
    .instagram .boxInfo{
        background: none;
        //height: 800px;
       padding-top: 17px;
        top: 0;
        position: initial;
    }
    .instagram .boxInfo .bloco-flutuante{
        background: none;
    }
    .instagram .boxInfo #img-selo{
        background: url(../images/selo-decor-monday-pequeno.png) no-repeat;
        width: 306px;
        height: 99px;
        margin-left: 0;
        top: 80px;
        position: absolute;

    }
    .instagram .boxInfo.comSeloBf{
        padding-top: 5px;
        height: 230px;
        top: -230px;
    }
    .instagram .boxInfo .selo-bf{
        height: 51px;
    }
    .instagram .boxInfo .bloco-flutuante .bloco-conteudo{
        background: #82a5d5;
        width: 215px;
        height: 142px;
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .instagram.showDePor .boxInfo .bloco-flutuante .bloco-conteudo .preco{
        padding-top: 12px;
        position: absolute;
        top: -24px;
        right: 15px;
    }
    .instagram.showDePor .boxInfo .bloco-flutuante .bloco-conteudo .preco .de{
        padding: 0;
    }

    .instagram.showBoleto .boxInfo .bloco-flutuante .preco span{
        float: none !important;
        text-align: center;
    }
    .instagram .precoDePor .padrao .por{padding-right: 0;}
    .instagram .precoDePor .padrao .por .valorInteiro, 
    .instagram .precoDePor .padrao .por span{
        font-size: 40px;
    }
    .instagram .precoDePor .padrao{
        padding:0;
    }

    .instagram.showParcelado .porcentagem{
        right: initial;
        left: 312px;
        top: 80px;
        width: 129px;
        border-radius: 8px;
        height: 96px;
        padding-top: 14px;
        box-sizing: border-box;
    }

    .instagram.showParcelado .porcentagem p span{
        font-size:73px;
    }

    .instagram.showParcelado .porcentagem .porcento{
        font-size: 40px;
        position: relative;
        top: -23px;
        right: -1px;
    }

    .instagram.showParcelado .porcentagem .lower{
        font-size: 18px;
        position: absolute;
        width: auto;
        float: right;
        text-align: right;
        top: 53px;
        right: 8px;
    }

    .instagram.showParcelado .preco span.padrao .apenas,
    .instagram.showParcelado  .preco span.padrao span.parcelas{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .instagram.showParcelado .boxInfo .bloco-flutuante .bloco-conteudo .preco{
        padding-top: 2px;
    }
    .instagram.showBoleto .Avista{
        padding-top: 0;
    }*/
/* instagram */


/* instagram Stories */
   /* .instagramStories.boxInfo{
        height: 610px;
        padding-top: 103px;
    }
    .instagramStories.boxInfo .bloco-flutuante .bloco-conteudo{
        background: url(../images/tag-preco.png) right no-repeat;
        height: 241px;
        width: 100%;
    }
    .instagramStories #img-selo{
        height: 297px;
        width: 338px;
        background: url(../images/selo-decor-monday-grande.png) no-repeat;
    }
    .instagramStories .precoDePor .padrao .por,.instagramStories .precoDePor .padrao .de{
        padding-right: 23px;
    }

    .instagramStories .selo-bf{
        margin-top: 125px;
    }

    .instagramStories .preco span.padrao{
        margin-right: 10px;
    }

    .instagramStories .preco span.padrao{
        max-width: 275px;
        float: right;
        display: block;
    }

    .instagramStories .precoDePor .padrao .por,
    .instagramStories .precoDePor .padrao .de,
    .instagramStories .preco span.padrao span.valorInteiro,
    .instagramStories .preco span.padrao span.moedaTopo,
    .instagramStories .precoDePor .padrao .por .valorInteiro, 
    .instagramStories .precoDePor .padrao .por span{
        font-size: 74px;
        line-height: .5;
    }

    .instagramStories .precoDePor .padrao .por .valorInteiro, 
    .instagramStories .precoDePor .padrao .por span{
        font-size: 74px;
        line-height: 9px;
        margin-top: 11px;
        margin-left: -20px;
    }

    .instagramStories .preco.precoDePor .padrao .por .minText{
        top: 5px;
        left: 18px;
        font-size: 33px;
    }

    .instagramStories .precoDePor .padrao .por .moeda.none{
        font-size: 33px;
        margin-left: 5px;
        margin-right: 10px;
        font-family: robotoregular;
    }

    .instagramStories .precoDePor .padrao .por{
        margin-top: 0px;
    }

    .instagramStories .preco span.padrao span.parcelas,
    .instagramStories .preco span.padrao .apenas{
        margin-bottom: 24px;
        padding-right: 16px;
        width: 286px;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
    }
    .instagramStories .preco span.padrao .apenas{
        margin-bottom: 0;
        margin-top: 8px;
    }
    .showBoleto .instagramStories .preco span.padrao .apenas{
        margin-bottom: 19px;
    }

    .instagramStories .preco.precoDePor .padrao .de span{
        float: left;
    }
    .instagramStories .porcentagem{
        top: 228px;
    }*/
/* /instagram Stories */

    /*.porcentagem{
        background: #82a5d5 !important;
    }*/



/* Post Tema Black Friday */
    .blackfriday .instagram{
        height: 194px;
        padding-top: 17px;
        top: -194px;
    }
    .blackfriday .facebook{
        height: 300px;
        padding-top: 80px;
    }
    /*//////////////////////*/
    .blackfriday .boxInfo{
        background: #000000;
        width: 804px;
        margin-left: -2px;
    }
    .blackfriday .boxInfo{
        padding-top: 30px;
    }
    .blackfriday.showDePor .boxInfo{
        padding-top: 60px;
    }
    .blackfriday .boxInfo .bloco-flutuante{
        top: 0;
        border: none;
        background: #000000;
        width: 50%;
        left: initial;
        float: right;
        position: initial;
        padding: 0;
    }
    .blackfriday .showParcelado .precoParcelado{
        padding-top: 27px;
    }
    .blackfriday .boxInfo .bloco-flutuante .bloco-conteudo{
        border: none;
    }

    .blackfriday .rodape{
        right: initial;
        float: left;
        width: 343px;
        height: 157px;
        top: 0;
        margin-top: 0;
        margin-left: 30px;
        background: url(../../imagens/img-blackfriday.jpg);
    }

    .blackfriday .porcentagem{
        width: 120px;
        height: 100px;
        border: none;
        border-radius: 0;
        right: 40px;
        left: initial;
    }
    .blackfriday .porcentagem span{
        font-family: "proxima-nova-bold";
        font-size: 66.64px;
        letter-spacing: -1px;
    }

    .blackfriday .porcentagem .porcento{
        font-size: 43px;
        top: -8px;
    }
    .blackfriday .porcentagem .center{
        margin-top: 12px;
    }

    .blackfriday .porcentagem .lower{
        font-size: 37px;
        font-family: 'robotoregular';
        text-transform: uppercase;
    }

    .blackfriday .preco span.padrao {
        max-width: 250px;
        float: right;
        padding-right: 20px;
        text-align: left;
    }

    .blackfriday .preco span.padrao .apenas{
        color: #ff0000;
        text-align: left;
        font-size: 34px;
        font-family: "proxima-nova-bold";
        float: none;
        position: initial;
        display: block;
    }
    .blackfriday .preco span.padrao span.valorInteiro{
        color: #ffffff;
        float: left;
        width: 100%;
    }
    .blackfriday .preco span.padrao span{
        color: #ffffff;
        font-size: 26px;
        font-family: robotoregular;
    }

    .blackfriday .preco span.padrao span.parcelas{
        color: #999999;
        font-family: 'robotoregular';
        font-size: 30.58px;
        float: left;
        display: block;
        width: 100%;
    }
    .blackfriday .preco span.padrao span.valorInteiro, 
    .blackfriday .preco span.padrao span.moedaTopo{
        width: auto;
        font-size: 51px;
        bottom: initial;
        top: initial;
        font-family: "proxima-nova-bold";
        font-size: 51px;
    }
    .blackfriday .preco span.padrao span.textBoleto{
        float: left;
        position: initial;
        width: 100%;
    }
    .blackfriday .logoGrao{
        display: none !important;
    }
    
    .blackfriday .precoDePor .padrao .por, 
    .blackfriday .precoDePor .padrao .de{
        float: right;
        padding-right: 50px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .precoDePor .padrao .de{
        margin-top: 11px;
        margin-right: 0;
    }

    .blackfriday .preco.precoDePor .padrao .de .minText{
        display: initial !important;
        padding-right: 3px;
        text-transform: lowercase;
        font-size: 25px;
        font-family: robotoregular;
    }
    .blackfriday .precoDePor .padrao .de span{
        color: #ff0000;
        font-size: 25px;
        font-family: robotoregular;
    }

    .blackfriday .preco.precoDePor .padrao .por .minText{
        text-transform: lowercase;
        position: relative;
        top: 3px;
        font-family: robotoregular;
        font-size: 22px;
    }
    .blackfriday .precoDePor .padrao .por .valorInteiro,
    .blackfriday .precoDePor .padrao .por span{
        color: #ffffff;
        font-size: 51.71px;
        font-family: "proxima-nova-bold";   
        top: 0;
    }

    .blackfriday .precoDePor .padrao .por span.textBoleto{
        display: none;
    }
    .blackfriday .precoDePor .padrao .por .moeda.none{
        font-size: 22px;
        margin-left: 5px;
        margin-right: 10px;
        font-family: robotoregular;
    }
    .blackfriday .precoDePor .padrao .de .rs{
        font-size: 25px;
        font-family: robotoregular;
        margin: 0 3px 0 1px;
    }

    .blackfriday .cutLine{text-decoration:none;}
/* /Post Tema Black Friday */


.instagram .boxInfo{
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    height: 200px;
}


/* Post promocional */
    .post-promocional-so-hj .boxInfo{
        background:#25313d; 
    }

    .post-promocional-so-hj .boxInfo .bloco-flutuante{
        background: #2f3d4a;
        border:rgba(31, 41, 51, 0.62) solid 2px;
    }
    .post-promocional-so-hj .boxInfo .bloco-flutuante .bloco-conteudo{
        border:none;
    }

    .post-promocional-so-hj .preco span.padrao span, 
    .post-promocional-so-hj .preco span.padrao, 
    .post-promocional-so-hj .precoDePor .padrao .por span,
    .post-promocional-so-hj .preco .textBoleto{
        color:#bcd485 ;
    }
    .post-promocional-so-hj .preco .textBoleto{
        color:#bcd485 ;   
    }
    .post-promocional-so-hj .precoDePor .padrao .de span{
        color: #ffffff;
    }

    .post-promocional-so-hj .porcentagem{
        background: #25313d;
        width: 130px;
        height: 130px;
        border-radius: 65px;
    }

    .post-promocional-so-hj .porcentagem span{
        font-size: 43px;
        font-family: 'proxima-Nova';
    }

    .post-promocional-so-hj .porcentagem .center{
        margin-top: 37px;
        letter-spacing: 1px;
    }

    .post-promocional-so-hj .porcentagem .lower{
        font-size: 30px;
        padding-top: 9px;
    }
    .post-promocional-so-hj .porcentagem .porcento{
        font-family: proxima-nova;
        font-size: 43px;
    }


    .post-promocional-so-hj .bloco-flutuante:after{
        content: "";
        width: 329px;
        height: 53px;
        background: url(../images/selo-corra-e-so-hj.png);
        position: absolute;
        top: -28px;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
    }
/* /Post Promocional */


/* Post promocional decoracao madeira */
    .decoMadeira .boxInfo,
    .decoMadeira .boxInfo .bloco-flutuante{
        background: #afcac8;
    }

    .decoMadeira .preco span.padrao .apenas{
        color: #2c5b74;
        font-size: 29px;
    }
    .decoMadeira .preco span.padrao span,
    .decoMadeira .preco span.padrao span.valorInteiro
    .decoMadeira.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .decoMadeira.blackfriday .precoDePor .padrao .por span,
    .decoMadeira .preco span.padrao span.valorInteiro{
        color: #000000 ;
    }
    .decoMadeira .preco span.padrao span.parcelas,
    .decoMadeira .precoDePor .padrao .de span,
    .decoMadeira .preco span.padrao span.textBoleto{
        color: #2c5b74;   
    }
    .decoMadeira .preco span.padrao span.textBoleto{
        color:#2c5b74 !important;
        font-size: 22px;
    }
    .decoMadeira .porcentagem{
        width: 120px;
        height: 120px;
        font-size: 45px;
        background:#2c5b74;
    }
    .decoMadeira .porcentagem span{
        font-size: 45px;
    }
    .decoMadeira .porcentagem .center{
        margin-top: 22px;
    }
    .decoMadeira .porcentagem .porcento{
        font-size: 43px;
        top: -2px;
    }
    .decoMadeira .porcentagem .lower{
        margin-top: 7px;
        font-size: 42px;
    }

    .decoMadeira .rodape{
        width: 363px;
        height: 124px;
        top: 25px;
        left: 27px;
        background: url(../../imagens/selo-decoracao-madeira-tempo-limitado.png) no-repeat;
    }
    .decoMadeira.showDePor .boxInfo{
        padding-top: 38px;
    }
    .decoMadeira .precoDePor .padrao{
        margin-top: 45px;
    }
/* /Post promocional decoracao madeira */


/* Post promocional Site Todo */
    .todoSiteOff .boxInfo,
    .todoSiteOff .boxInfo .bloco-flutuante{
        background: #141624;
    }

    .todoSiteOff .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .todoSiteOff .preco span.padrao span,
    .todoSiteOff .preco span.padrao span.valorInteiro
    .todoSiteOff.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .todoSiteOff.blackfriday .precoDePor .padrao .por span,
    .todoSiteOff .preco span.padrao span.valorInteiro{
        color: #f06449 ;
    }
    .todoSiteOff .preco span.padrao span.parcelas,
    .todoSiteOff .precoDePor .padrao .de span,
    .todoSiteOff .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .todoSiteOff .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    .todoSiteOff .porcentagem{
        width: 120px;
        height: 120px;
        font-size: 45px;
        background:#141624;
        color: #f06449;
    }
    .todoSiteOff .porcentagem span{
        font-size: 45px;
    }
    .todoSiteOff .porcentagem .center{
        margin-top: 22px;
    }
    .todoSiteOff .porcentagem .porcento{
        font-size: 43px;
        top: -2px;
    }
    .todoSiteOff .porcentagem .lower{
        margin-top: 7px;
        font-size: 42px;
    }

    .todoSiteOff .rodape{
        margin-top: 14px;
        width: 363px;
        height: 124px;
        top: 25px;
        left: 27px;
        background: url(../../imagens/selo-todo-site-com-desontos-inacreditavies.png) no-repeat;
    }
    .todoSiteOff.showDePor .boxInfo{
        padding-top: 20px;
    }
    .todoSiteOff .precoDePor .padrao{
        margin-top: 45px;
    }


    .postPadrao.selo .boxInfo{
        padding-top: 10px;
    }
    .postPadrao.selo.instagram .boxInfo{
        height: 216px;
        padding-top: 0;
    }
    .postPadrao .seloRodape{display: none}
    .postPadrao.selo .seloRodape{
        display: block;
        background: #ffffff no-repeat center;
        /*url(../images/selo-2-corra.png)*/
        width: 802px;
        height: 52px;
        float: left;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }
/* /Post promocional Site Todo */


/* Post promocional Dia de Ofertas */
    .diaDeOfertas .preco span.padrao span,
    .diaDeOfertas .preco span.padrao span.valorInteiro
    .diaDeOfertas.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .diaDeOfertas.blackfriday .precoDePor .padrao .por span,
    .diaDeOfertas .preco span.padrao span.valorInteiro{
        color: #E88400 ;
    }
    .diaDeOfertas .preco span.padrao span.parcelas,
    .diaDeOfertas .precoDePor .padrao .de span,
    .diaDeOfertas .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .diaDeOfertas .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .diaDeOfertas .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    .diaDeOfertas .porcentagem{
        background: url(../images/bg-porcentagem-laranja.png);
        color: #ffffff;
        width: 155px;
        height: 178px;
        padding-top: 28px;
    }
    .diaDeOfertas .porcentagem .lower{
        font-size: 43px;
        padding-top: 10px;
    }
    .diaDeOfertas .porcentagem .porcento{
        font-size: 53px;
        top: 0;
    }
    .diaDeOfertas .porcentagem span{
        font-size: 60px;
    }

    .diaDeOfertas .rodape{
        background: url(../images/selo-dia-de-ofertas.jpg);
        width: 423px;
        height: 157px;
    }

    .diaDeOfertas .boxInfo .bloco-flutuante{
        width: 41%;
    }
    .diaDeOfertas.showDePor .boxInfo{
        padding-top: 45px;
    }
    .diaDeOfertas.showDePor.instagram .boxInfo{
        padding-top: 20px;
    }
/* /Post promocional Dia de Ofertas */


/* Post promocional queridinhoMamaes */
    .queridinhoMamaes .preco span.padrao span,
    .queridinhoMamaes .preco span.padrao span.valorInteiro
    .queridinhoMamaes.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .queridinhoMamaes.blackfriday .precoDePor .padrao .por span,
    .queridinhoMamaes .preco span.padrao span.valorInteiro{
        color: #FEA700 ;
    }
    .queridinhoMamaes .preco span.padrao span.parcelas,
    .queridinhoMamaes .precoDePor .padrao .de span,
    .queridinhoMamaes .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .queridinhoMamaes .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .queridinhoMamaes .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    
    .queridinhoMamaes .rodape{
        background: url(../images/selo-queridinho-mamaes.jpg) no-repeat;
        width: 313px;
        height: 133px;
        margin-left: 35px;
    }
    .queridinhoMamaes.showBoleto .rodape{
        top: 20px;
    }
    .queridinhoMamaes.showParcelado .rodape{
        top: 23px;
    }

    .queridinhoMamaes .boxInfo .bloco-flutuante{
        width: 41%;
    }

    .queridinhoMamaes .porcentagem{
        padding: 8px;
        height: auto;
    }
    .queridinhoMamaes .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .queridinhoMamaes .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .queridinhoMamaes .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 11px;
        font-family: proxima-nova-bold;
    }

    .queridinhoMamaes.instagram .boxInfo{
        padding-top: 20px;
        height:195px;
    }
    .queridinhoMamaes.instagram .rodape{
        top: 10px;
    }

/* /Post promocional queridinhoMamaes */

/* Post promocional fdsDescontos */
    .fdsDescontos .boxInfo{
        background: #111437;
    }
    .fdsDescontos .boxInfo .bloco-flutuante{
        background: #111437;
    }
    .fdsDescontos .preco span.padrao span,
    .fdsDescontos .preco span.padrao span.valorInteiro
    .fdsDescontos.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .fdsDescontos.blackfriday .precoDePor .padrao .por span,
    .fdsDescontos .preco span.padrao span.valorInteiro{
        color: #a4b4ce ;
    }
    .fdsDescontos .preco span.padrao span.parcelas,
    .fdsDescontos .precoDePor .padrao .de span,
    .fdsDescontos .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .fdsDescontos .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .fdsDescontos .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    
    .fdsDescontos .rodape{
        background: url(../images/padrao_admin_insta.jpg) no-repeat;
        width: 355px;
        height: 148px;
        margin-left: 35px;
    }
    .fdsDescontos.showBoleto .rodape{
        top: 20px;
    }
    .fdsDescontos.showParcelado .rodape{
        top: 23px;
    }

    .fdsDescontos .boxInfo .bloco-flutuante{
        width: 41%;
    }

    .fdsDescontos .porcentagem{
        padding: 8px;
        height: auto;
        background-color: #111437;
    }
    .fdsDescontos .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .fdsDescontos .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .fdsDescontos .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 11px;
        font-family: proxima-nova-bold;
    }

    .fdsDescontos.instagram .boxInfo{
        padding-top: 20px;
        height:195px;
    }
    .fdsDescontos.instagram .rodape{
        top: 10px;
    }

/* /Post promocional fdsDescontos */

/* Post promocional ultimaChance */
    .ultimaChance .boxInfo{
        background: #245A6A;
    }
    .ultimaChance .boxInfo .bloco-flutuante{
        background: #245A6A;
    }
    .ultimaChance .preco span.padrao span,
    .ultimaChance .preco span.padrao span.valorInteiro
    .ultimaChance.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .ultimaChance.blackfriday .precoDePor .padrao .por span,
    .ultimaChance .preco span.padrao span.valorInteiro{
        color: #EEB412 ;
    }
    .ultimaChance .preco span.padrao span.parcelas,
    .ultimaChance .precoDePor .padrao .de span,
    .ultimaChance .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .ultimaChance .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .ultimaChance .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    
    .ultimaChance .rodape{
        background: url(../images/selos/selo-ultima-chance-entrega-imediata.jpg) no-repeat;
        width: 409px;
        height: 222px;
        margin-left: 35px;
        top: -47px;
    }
    .ultimaChance.instagram .rodape{
        background: url(../images/selos/selo-ultima-chance-entrega-imediata-instagram.jpg) no-repeat;
        width: 403px;
        height: 148px;
        margin-left: 35px;
    }

    .ultimaChance.showBoleto .rodape,.ultimaChance.showParcelado .rodape {
        top: -16px;
    }

    .ultimaChance .boxInfo .bloco-flutuante{
        width: 41%;
    }

    .ultimaChance .porcentagem{
        padding: 41px 8px 8px;
        height: 175px;
        width: 175px;
        border-radius: 87.5px;
        background-color: #ffffff;
        color: #245A6A;
    }
    .ultimaChance .porcentagem span{
        font-size: 52px;
        font-family: proxima-nova-bold;
    }
    .ultimaChance .porcentagem .porcento{
        font-size: 52px;
        top: -1px;
        left: 3px;
    }
    .ultimaChance .porcentagem .lower{
        font-size: 45px;
        letter-spacing: 1px;
        padding-top: 11px;
        font-family: proxima-nova-bold;
    }

    .ultimaChance.instagram .boxInfo{
        padding-top: 20px;
        height:195px;
    }
    .ultimaChance.instagram .rodape{
        top: -17px;
        width: 397px;
        height: 192px;
    }

/* /Post promocional ultimaChance */


/* Domingo de Ofertas - Rosa*/
    .domingoOfertas .boxInfo{
        background: url(../images/bg-post-padrao-rosa-gradiente.png) no-repeat;
        background-size: 100%;
    }
    .domingoOfertas .boxInfo .bloco-flutuante{
        background:transparent;
    }
    .domingoOfertas .preco span.padrao span,
    .domingoOfertas .preco span.padrao span.valorInteiro
    .domingoOfertas.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .domingoOfertas.blackfriday .precoDePor .padrao .por span,
    .domingoOfertas .preco span.padrao span.valorInteiro{
        color: #d5437f ;
    }
    .domingoOfertas .preco span.padrao span.parcelas,
    .domingoOfertas .precoDePor .padrao .de span,
    .domingoOfertas .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .domingoOfertas .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .domingoOfertas .precoParcelado.preco span.padrao .apenas{
        color: #d5437f;
    }
    .domingoOfertas .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    .domingoOfertas .rodape{
        margin-top: 40px;
        background: url(../images/selo-domingo-de-ofertas.png) no-repeat;
    }

    .domingoOfertas .porcentagem{
        padding: 8px;
        height: auto;
        background: #d5437f;
        /*height: 115px;*/
    }
    .domingoOfertas .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .domingoOfertas .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .domingoOfertas .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 11px;
        font-family: proxima-nova-bold;
    }
    .domingoOfertas.showDePor .rodape{
        margin-top: 25px;
    }
    .domingoOfertas.showDePor.instagram .rodape{
        margin-top: 0;
    }
    .domingoOfertas.showDePor.instagram .boxInfo{
        padding-top: 43px;
    }
/* /Domingo de Ofertas - Rosa*/

/* Domingo de Ofertas - Rosa*/
    .sabadoImperdivel .boxInfo{
        background: url(../images/bg-black-gradiente.png) no-repeat;
        background-size: 100%;
    }
    .sabadoImperdivel .boxInfo .bloco-flutuante{
        background:transparent;
    }
    .sabadoImperdivel .preco span.padrao span,
    .sabadoImperdivel .preco span.padrao span.valorInteiro
    .sabadoImperdivel.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .sabadoImperdivel.blackfriday .precoDePor .padrao .por span,
    .sabadoImperdivel .preco span.padrao span.valorInteiro{
        color: #f11dae ;
    }
    .sabadoImperdivel .preco span.padrao span.parcelas,
    .sabadoImperdivel .precoDePor .padrao .de span,
    .sabadoImperdivel .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .sabadoImperdivel .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .sabadoImperdivel .precoParcelado.preco span.padrao .apenas{
        color: #f11dae;
    }
    .sabadoImperdivel .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    .sabadoImperdivel .rodape{
        margin-top: 20px;
        background: url(../images/selo-sabado-imperdível.png) no-repeat;
    }

    .sabadoImperdivel .porcentagem{
        padding: 8px;
        background: #f11dae;
        width: 120px;
        height: 120px;
        padding-top: 16px;
        border-radius: 120px;
    }
    .sabadoImperdivel .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .sabadoImperdivel .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .sabadoImperdivel .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 11px;
        font-family: proxima-nova-bold;
    }
    .sabadoImperdivel.showDePor .rodape{
        margin-top: 0;
    }
    .sabadoImperdivel.showDePor.instagram .rodape{
        margin-top: 0;
    }
    .sabadoImperdivel.showDePor.instagram .boxInfo{
        padding-top: 43px;
    }
/* /Domingo de Ofertas - Rosa*/

/* Alerta de Descontos */
    .alertaDeDescontos .boxInfo{
        background: #060606;
    }
    .alertaDeDescontos .boxInfo .bloco-flutuante{
        background:transparent;
    }
    .alertaDeDescontos .preco span.padrao span,
    .alertaDeDescontos .preco span.padrao span.valorInteiro
    .alertaDeDescontos.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .alertaDeDescontos.blackfriday .precoDePor .padrao .por span,
    .alertaDeDescontos .preco span.padrao span.valorInteiro{
        color: #fdd765 ;
    }
    .alertaDeDescontos .preco span.padrao span.parcelas,
    .alertaDeDescontos .precoDePor .padrao .de span,
    .alertaDeDescontos .preco span.padrao span.textBoleto{
        color: #ffffff;   
    }
    .alertaDeDescontos .preco span.padrao .apenas{
        color: #ffffff;
        font-size: 29px;
    }
    .alertaDeDescontos .precoParcelado.preco span.padrao .apenas{
        color: #fdd765;
    }
    .alertaDeDescontos .preco span.padrao span.textBoleto{
        color:#ffffff !important;
        font-size: 22px;
    }
    .alertaDeDescontos .rodape{
        width: 272px;
        height: 196px;
        margin-left: 55px;
        background: url(../images/selos/selo-alerta-de-descontos.png) no-repeat;
    }

    .alertaDeDescontos .porcentagem{
        background: url(../images/selos/balao-porcentagem-notificacao.png) no-repeat;
        width: 124px;
        height: 124px;
        padding-top: 10px;
    }
    .alertaDeDescontos .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .alertaDeDescontos .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .alertaDeDescontos .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 11px;
        font-family: proxima-nova-bold;
    }
    .alertaDeDescontos .boxInfo .bloco-flutuante{
        padding-right: 12px;
    }
    .alertaDeDescontos.showDePor .rodape{
        margin-top: -28px;
    }
    .alertaDeDescontos.showDePor.instagram .boxInfo{
        padding-top: 43px;
    }
    .alertaDeDescontos .preco.precoDePor .padrao .por .minText,
    .alertaDeDescontos .precoDePor .padrao .por .moeda.none{
        color: #fff;
    }
    .alertaDeDescontos.instagram .rodape{
        top: -12px;
    }
/* /Alerta de Descontos */

/* Pequenos preços - grandes ofertas */
    .pPrecosGDescontos .boxInfo{
        background: url(../images/selos/bg-p-precos-g-ofertas.jpg) no-repeat #0a1d1b;
    }
    .pPrecosGDescontos .boxInfo .bloco-flutuante{
        background:transparent;
    }
    .pPrecosGDescontos .preco span.padrao span,
    .pPrecosGDescontos .preco span.padrao span.valorInteiro
    .pPrecosGDescontos.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .pPrecosGDescontos.blackfriday .precoDePor .padrao .por span,
    .pPrecosGDescontos .preco span.padrao span.valorInteiro,
    .pPrecosGDescontos .preco span.padrao span.parcelas{
        color: #fefefe ;
    }
    .pPrecosGDescontos .precoDePor .padrao .de span{
        color: #2ec3a3;   
    }
    .pPrecosGDescontos .preco span.padrao .apenas{
        font-size: 29px;
    }
    .pPrecosGDescontos .precoParcelado.preco span.padrao .apenas,
    .pPrecosGDescontos .preco span.padrao .apenas{
        color: #2ec3a3;
    }
    .pPrecosGDescontos .preco span.padrao span.textBoleto{
        color:#2ec3a3 !important;
        font-size: 22px;
    }
    .pPrecosGDescontos .rodape{
        display:none;
    }

    .pPrecosGDescontos .porcentagem{
        width: 124px;
    height: 124px;
    padding-top: 14px;
    background: #d08204;
        
    }
    .pPrecosGDescontos .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .pPrecosGDescontos .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .pPrecosGDescontos .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 15px;
        font-family: proxima-nova-bold;
    }
    .pPrecosGDescontos .boxInfo .bloco-flutuante{
        padding-right: 12px;
    }
    .pPrecosGDescontos.showDePor .rodape{
        margin-top: -28px;
    }
    .pPrecosGDescontos.instagram .boxInfo{
        background-position-y: -17px;
    }
    .pPrecosGDescontos .preco.precoDePor .padrao .por .minText,
    .pPrecosGDescontos .precoDePor .padrao .por .moeda.none{
        color: #fff;
    }
    .pPrecosGDescontos.instagram .rodape{
        top: -12px;
    }
    .pPrecosGDescontos.showDePor .boxInfo{
        padding-top: 53px;
    }
    .pPrecosGDescontos.showDePor.instagram .boxInfo{
        padding-top: 36px;
    }
/* /Pequenos preços - grandes ofertas */

/* Novidades para decorar */
    .novidadesDecorar .boxInfo{
        background: url(../images/selos/bg-novidades-para-decorar.png) no-repeat #171717;
    }
    .novidadesDecorar .boxInfo .bloco-flutuante{
        background:transparent;
    }
    .novidadesDecorar .preco span.padrao span,
    .novidadesDecorar .preco span.padrao span.valorInteiro
    .novidadesDecorar.blackfriday .precoDePor .padrao .por .valorInteiro, 
    .novidadesDecorar.blackfriday .precoDePor .padrao .por span,
    .novidadesDecorar .preco span.padrao span.valorInteiro,
    .novidadesDecorar .preco span.padrao span.parcelas{
        color: #fefefe ;
    }
    .novidadesDecorar .precoDePor .padrao .de span{
        color: #ef5d68;   
    }
    .novidadesDecorar .preco span.padrao .apenas{
        font-size: 29px;
    }
    .novidadesDecorar .precoParcelado.preco span.padrao .apenas,
    .novidadesDecorar .precoParcelado.preco span.padrao .valorInteiro,
    .novidadesDecorar .precoParcelado.preco span.padrao .valorInteiro .rs,
    .novidadesDecorar .precoParcelado.preco span.padrao .moedaTopo,
    .novidadesDecorar .preco span.padrao .apenas{
        color: #ef5d68;
    }
    .novidadesDecorar .preco span.padrao span.textBoleto{
        color:#ef5d68 !important;
        font-size: 22px;
    }
    .novidadesDecorar .rodape{
        display:none;
    }

    .novidadesDecorar .porcentagem{
        width: 100px;
	    height: 100px;
	    padding-top: 5px;
	    background: #ef5d68;
        
    }
    .novidadesDecorar .porcentagem span{
        font-size: 47px;
        font-family: proxima-nova;
    }
    .novidadesDecorar .porcentagem .porcento{
        font-size: 47px;
        top: -1px;
    }
    .novidadesDecorar .porcentagem .lower{
        font-size: 42px;
        letter-spacing: 1px;
        padding-top: 9px;
        font-family: proxima-nova-bold;
    }
    .novidadesDecorar .boxInfo .bloco-flutuante{
        padding-right: 12px;
    }
    .novidadesDecorar.showDePor .rodape{
        margin-top: -28px;
    }
    .novidadesDecorar.instagram .boxInfo{
        background-position-y: -23px;
    }
    .novidadesDecorar .preco.precoDePor .padrao .por .minText,
    .novidadesDecorar .precoDePor .padrao .por .moeda.none{
        color: #fff;
    }
    .novidadesDecorar.instagram .rodape{
        top: -12px;
    }
    .novidadesDecorar.showDePor .boxInfo{
        padding-top: 53px;
    }
    .novidadesDecorar.showDePor.instagram .boxInfo{
        padding-top: 36px;
    }
/* /Novidades para decorar */

/* Combo kit mais berço */
    .comboKitBerco .boxInfo{
        background: url(../images/selos/promocao-combo-kit-berco-mais-berco.png) no-repeat #5c4d6f;
        background-position-y: -19px;
        width: 105%;
        height: 220px;
        left: -2px;
    }
    .comboKitBerco .boxInfo .bloco-flutuante,
    .comboKitBerco .boxInfo .rodape{
        display: none;
    }
    .comboKitBerco .porcentagem{
        background: url(../images/selos/selo-topo.png) no-repeat transparent;
        width: 279px;
        height: 194px;
        border-radius: 0;
        top: 0;
        left: -1px;
    }
    .comboKitBerco .porcentagem .center{
        display: none;
    }
/* /Novidades para decorar */