
#midias {
    right: 0;
    float: right;
    top: 0;
    height: 40px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #000;
    font-size: 16px;
}

.loading {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: 0.85;
	display: none;
	position: fixed;
	background: url("../images/carregando.gif") center center no-repeat #FFFFFF;
}

.button {
    top: -1px;
    left: -1px;
    z-index: 20;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    font-family: Arial;
    position: absolute;
    border: 1px solid #333;
    background-color: #FAFAFA;
    transition: all 1s;
}

.button.change {
	-webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.button:hover {
    color: white;
    background-color: #333; 
}

input {
	float: left;
	height: 30px;
	color: #333333;
	padding: 4px 6px;
	line-height: 25px;
	margin-right: 10px;
	border: 1px solid #333333;
}

input.erro {
	background: #FFD9DA;
}

.botoesMiddle {
	top: 0;
   	left: 50%;
    z-index: 20;
	width: 500px;
    cursor: pointer;
    position: fixed;
	text-align: center;
	margin-left: -250px;
}

.botoesMiddle .button {
	margin-left: 10px;
	position: relative;
	display: inline-block;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.buttonSend, .buttonCheck {
	float: left;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-right: 0;
    cursor: pointer;
    line-height: 20px;
    margin-top: 10px;
    font-family: Arial;
    border: 1px solid #333;
    background-color: #FAFAFA;
    transition: all 1s;
}

.buttonSend:hover, .buttonCheck:hover {
    color: white;
    background-color: #333; 
}

.buttonCheck {
	margin: 0 20px 20px 0;
}

.shadow {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
	opacity: 0.85;
	position: fixed;
	background: #000000;
}

.modalData, .modalMidias {
	left: 50%;
	top: 100px;
	width: 600px;
	z-index: 99999;
	padding: 20px;
	display: none;
	position: fixed;
	text-align: center;
	margin-left: -300px;
	background-color: #FFFFFF;
}

.modalData .buttonSend {
	margin-top: 0;
}

.modalData .checkboxLabel {
	width: auto;
	margin: 6px 10px 0 0;
}

.modalMidias {
	width: 600px;
	margin-left: -300px;
}

.checkboxs {
	float: left;
	width: 100%;
}

.checkboxs label, .checkboxLabel {
	width: 20%;
	float: left;
}

.checkboxs label input , .checkboxLabel input {
	margin: 0;
	float: left;
}

.checkboxs label span, .checkboxLabel span {
	float: left;
	color: #333333;
	font-size: 12px;
	line-height: 30px;
	padding-left: 5px;
	font-family: "Arial";
}

.tipoSessao, .tipoDadoMidia {
	top: 7px;
	left: 15px;
	width: 240px;
	z-index: 9999;
	position: fixed;
}

.tipoDadoMidia {
	right: 0;
	left: auto;
	display: none;
}

.tipoDadoMidia label {
	width: 33.33%;
}

.tipoSessao label {
	width: 50%;
}

.graficoMidias {
	display: none;
}

.mapas {
    z-index: 10;
    height: 500px;
    margin: 0 auto;
    margin-top: 60px;
    min-width: 100%;
    overflow:hidden;
    position: relative;
}

.mapas.hora {
    float: left;
    min-width: 50%;
    max-width: 50%;
}

#relatorioTotalBarLegenda {
    top: 20px;
    left: 210px;
    z-index: 20;
    width: 120px;
    position: absolute;
}

#relatorioTotalBarLegenda.column {
    top: 490px;
    left: 145px;
}

#relatorioTotalBarLegenda > span {
    width: 100%;
    color: #333;
    font-size: 12px;
    padding-left: 30px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

#relatorioTotalBarLegenda > span:after {
    top: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    content: "";
    position: absolute;
}

#relatorioTotalBarLegenda .receita {
    padding-left: 80px;
}

#relatorioTotalBarLegenda .receita:after {
    width: 75px;
    background: #000097;
}

#relatorioTotalBarLegenda .pedidos {
    padding-left: 50px;
}

#relatorioTotalBarLegenda .pedidos:after {
    width: 45px;
    background: #2828FF;
}

#relatorioTotalBarLegenda .ticket:after {
    background: #6F6FFF;
}

.titleComparacao {
	float: left;
	width: 100%;
	padding: 30px 0;
	font-size: 30px;
	text-align: center;
	font-family: "Arial";
	text-transform: uppercase;
	background-color: #DDDDDD;
}

#dateSelect {
    top: 0;
    left: 75%;
	float: left;
    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-right: 0;
    cursor: pointer;
    line-height: 20px;
    margin-left: -60px;
    font-family: Arial;
    position: absolute;
    border: 1px solid #333;
    background-color: #FAFAFA;
    transition: all 1s;
}