﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="atualizarPrecosPedidosTnt.aspx.cs" Inherits="atualizarPrecosPedidosTnt" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button runat="server" ID="btnGerarRelatorioTnt" OnClick="btnGerarRelatorioTnt_OnClick"/>
    </div>
    </form>
</body>
</html>
