﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="atualizaPedidosExtra.aspx.cs" Inherits="atualizaPedidosExtra" %>

<%@ Register Assembly="DevExpress.Web.v11.1" Namespace="DevExpress.Web.ASPxTimer" TagPrefix="dgx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
