﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="calculoJadlog.aspx.cs" Inherits="calculoJadlog" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        CEP:<br/>
        <asp:TextBox runat="server" ID="txtCep"></asp:TextBox><br/>
        Peso:<br/>
        <asp:TextBox runat="server" ID="txtPeso"></asp:TextBox><br/>
        <asp:Button runat="server" ID="btnCalcular" Text="Calcular" OnClick="btnCalcular_OnClick" /><br/><br/>
        
        <asp:Literal runat="server" ID="txtValores"></asp:Literal>
    </div>
    </form>
</body>
</html>
