﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="cancelarnota.aspx.cs" Inherits="cancelarnota" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Id:<br/>
        <asp:TextBox runat="server" id="txtNotaId"></asp:TextBox><br />
        Nota:<br/>
        <asp:TextBox runat="server" id="txtNotaInutilizar"></asp:TextBox><br />
        Sequencia:<br/>
        <asp:TextBox runat="server" id="txtSequencia"></asp:TextBox><br />
        Motivo:<br/>
        <asp:TextBox runat="server" id="txtMotivo"></asp:TextBox><br />
        <asp:Button runat="server" id="btnCancelar" OnClick="btnCancelar_OnClick" />
    </div>
    </form>
</body>
</html>
