﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="importarcodigos.aspx.cs" Inherits="importarcodigos" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:FileUpload ID="fluArquivo" runat="server" />
        <asp:ImageButton ID="btnSalvar" runat="server" ImageAlign="AbsMiddle" ImageUrl="images/btSalvarPeq1.jpg" onclick="btnSalvar_Click" />
    </div>
    </form>
</body>
</html>
