﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="inutilizacao.aspx.cs" Inherits="inutilizacao" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox runat="server" id="txtNotaInutilizar"></asp:TextBox><br />
        <asp:TextBox runat="server" id="txtNotaInutilizar2"></asp:TextBox><br />
        <asp:Button runat="server" id="btnInutilizar" onClick="btnInutilizar_Click" />
    </div>
    </form>
</body>
</html>
