﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="listaestoque.aspx.cs" Inherits="listaestoque" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Literal runat="server" ID="litEstoque"></asp:Literal>
    </div>
    </form>
</body>
</html>
