﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="prateleiras.aspx.cs" Inherits="prateleiras" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Falta só a prateleira: <asp:Literal runat="server" ID="litFaltaPrateleira"></asp:Literal><br/><br/>
        Falta outros: <asp:Literal runat="server" ID="litFaltaOutros"></asp:Literal><br/><br/>
    </div>
    </form>
</body>
</html>
