﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="gerarCodigoDeBarras.aspx.cs" Inherits="envio_gerarCodigoDeBarras" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="text-align: center; font-family: arial; font-size: 32px; font-weight: bold;">
        <asp:Image runat="server" ID="imgCodigoDeBarras"/><br/>
        <asp:Literal runat="server" ID="litNome"></asp:Literal>
    </div>
    </form>
</body>
</html>
